extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "about-us"
	- var description = "Description for about-us page"
	- var bodyclass = "about-us"
	- var href = "/about-us.html"
block footer
	include ../../../CANHCAM-LIB/carousel/c-1/index.pug
