section.canhcam-form-4
	article.container
		.row
			.col
				figure
					img(src="./img/logo.png", alt="alt")
		form.validator.d-flex.justify-content-center
			.boxlogin
				.row
					.col-12
						h2.h3.mb-5 Log in
					.form-group.mb-2.col-12
						label(for='name') Username
							span.text-danger (*)
						input#name.form-control(type='text', placeholder='Name', data-error="Vui lòng nhập thông tin", required)
						.help-block.with-errors.small
					.form-group.mb-2.col-12
						label(for='Password') Password
							span.text-danger (*)
						input#Password.form-control(type='password', placeholder='Password', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
						.help-block.with-errors.small

					.form-group.mb-0.col-12.mt-md-3
						.row.align-items-center
							.col-md-auto.mb-4.mb-md-0
								.form-check.abc-checkbox
									input.form-check-input(name="IsChecked", id="checkbox", type='checkbox', value="true", required)
									label.form-check-label(for="checkbox") Remember my password
							.col-md.justify-content-md-end.d-flex
								button.btn.btn-outline-default(type="submit")
									| Log in
									|
									i.fa.fa-long-arrow-right
				.row
					.col.mb-0.col-12.mt-5.text-md-center.forgot
						p
							a(href="#") Forgot your password

	article.container.createaccount
		.row.mt-5
			.col
				p.mb-0 Don't have an account yet?
				a.lead.getstart(href="#") Get started

