section.canhcam-boxes-4
	article.project-hot
		.container
			.row
				.col-lg-3.part-list
					a.item(href="#")
						figure(bg-img="./img/news/img-03.jpg")
							img.img-fluid(src="./img/news/img-03.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
					a.item(href="#")
						figure(bg-img="./img/news/img-06.jpg")
							img.img-fluid(src="./img/news/img-06.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-lg-6.top-project
					a.item(href="#")
						figure(bg-img="./img/news/img-10.png")
							img.img-fluid(src="./img/news/img-10.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-lg-3.part-list
					a.item(href="#")
						figure(bg-img="./img/news/img-07.jpg")
							img.img-fluid(src="./img/news/img-07.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
					a.item(href="#")
						figure(bg-img="./img/news/img-08.jpg")
							img.img-fluid(src="./img/news/img-08.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
