section.canhcam-gallery-3
	article.gallery-details
		.container
			.row
				.col
					h2.h2.mb-5 Lorem
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-01.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-01.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-02.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-02.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-01.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-01.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-02.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-02.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-01.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-01.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="img/news/img-02.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-02.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
			.row.pagelist
				.col.d-flex.align-items-center.justify-content-center.justify-content-md-end
					ul.pagination
						li.page-item
							a.page-link(href="#", title="title")
								i.fa.fa-chevron-left
						li.page-item
							a.page-link(href="#", title="title") 1
						li.page-item.active
							a.page-link(href="#", title="title") 2
						li.page-item
							a.page-link(href="#", title="title") 3
						li.page-item
							a.page-link(href="#", title="title") 4
						li.page-item
							a.page-link(href="#", title="title")
								i.fa.fa-chevron-right
