section.canhcam-gallery-3
	article.gallery-details
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/img-06.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
