@import ../../_includes
//////////////////////////////////////
// CODE
//////////////////////////////////////

.canhcam-gallery-3
	+pad(2rem 0)
	+media-breakpoint-up(lg)
		+pad(4rem 0)
	.gallery-details
		.card-columns
			+media-breakpoint-up(sm)
				column-count: 1
			+media-breakpoint-up(md)
				column-count: 3
		.item
			text-decoration: none
			height: 100%
			+bor-rad(5px)
			overflow: hidden
			figure
				overflow: hidden
				+bor-rad(5px)
				margin-bottom: 1.3rem
				.boxzoom
					overflow: hidden
					position: relative
					+bor-rad(5px)
					&:after, &:before
						content: ''
						display: block
						z-index: -1
						background: rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.8)
						width: 100%
						height: 100%
						+pos(abs, 0 0 null null)
						+transition(all .5s ease-in-out)
					&:after
						+transform(translateY(100%))
					&:before
						+transform(translateY(-100%))
					// +media-breakpoint-up(sm)
					// 	max-height: 200px
					// 	min-height: 200px
					img
						+bor-rad(5px 5px 0 0)
						+transition(all .5s ease-in-out)
						width: 100%
				figcaption
					padding: 2rem
					text-align: center
					+transition(all .5s ease-in-out)
					+opacity(0)
					+pos(abs, 50% null null 50%)
					+transform(translateX(-50%) translateY(-50%))
					z-index: 100
					width: 100%
					h3
						+text-sha(1px 1px 3px rgba(0,0,0,.4))
						color: color-get($mau,trang)
						+fz(1.1rem)
						+fw(400)
						margin-bottom: 0
			&:hover
				figure
					figcaption
						+opacity(1)
					.boxzoom
						&:after
							z-index: 1
							+transform(translateY(50%))
						&:before
							z-index: 1
							+transform(translateY(-50%))
						img
							+transform(scale(1.1))



	&.canhcam-video-fixed-size.lg-outer
		padding: 0
		.lg-inner
			background-color: #000
		.lg-sub-html
			position: absolute
			text-align: left
		.lg-toolbar
			background-color: transparent
			height: 0
			.lg-icon
				color: #FFF
		.lg-img-wrap
			padding: 0

.lg-backdrop.in
	background: rgba(255,255,255,.8)
