section.canhcam-carousel-6
	.row.no-gutters
		.col
			article.news-list
				h2.text-center.text-lg-left.d-lg-none Dự án
					span khác
				.owl-carousel
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
