section.canhcam-boxes-7
	.container
		.row
			.col.col-lg-8.offset-lg-2 
				.row.boxes-details
					.item.col-md-6
						.row
							.col-auto
								img(src="./img/icon/icon-1.png", alt="")
							.col
								h3.h5 Lorem ipsum dolor sit.
								p.text-muted Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
					.item.col-md-6
						.row
							.col-auto
								img(src="./img/icon/icon-2.png", alt="")
							.col
								h3.h5 Consectetur adipisicing elit.
								p.text-muted Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
					.item.col-md-6
						.row
							.col-auto
								img(src="./img/icon/icon-3.png", alt="")
							.col
								h3.h5 Lorem ipsum r adipisicing elit.
								p.text-muted Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
					.item.col-md-6
						.row
							.col-auto
								img(src="./img/icon/icon-4.png", alt="")
							.col
								h3.h5 Lorctetur adipisicing elit.
								p.text-muted Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!