section.canhcam-carousel-2
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Products
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/01.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/02.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/03.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/04.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/01.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/02.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/03.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
					.item
						a(href='#')
							figure
								img.img-fluid(src='./img/product/04.jpg', alt='')
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing
									.price $15.68
