section.home.pt-4
	.container
		.row
			.col
				.jumbotron.text-center
					h1.display-1 Cánh Cam!
					h2.display-4 Dễ dàng triển khai và sử dụng
					p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.

		.row.mt-2
			.col
				h3 Thư viện
				code CANHCAM-LIB
			.col
				h3 Bộ Layout
				code src
		hr.mt-5
		.row.text-center
			.col
				p Vui lòng đọc file @SETUP.md và readme.md để biết thêm thông tin vận hành dự án
