section.canhcam-slider-4
	.container
		.row.no-gutters
			.col-lg-5.col-xl-4.order-lg-2.news-list
				h3 Nhà hàng Lạc Nam
				p.lead Nhà hàng - Khách sạn Lạc Nam tọa lạc ngay vị trí đắc địa của Resort, là biểu tượng, là điểm đón tiếp đầu tiên của Khu nghỉ dưỡng Lạc Nam
				hr 
				dl.row
					dt.col-sm-3 Description lists
					dd.col-sm-9 A description list is perfect for defining terms.
					dt.col-sm-3 Euismod
					dd.col-sm-9
						p Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						p Donec id elit non mi porta gravida at eget metus.
					dt.col-sm-3 Malesuada porta
					dd.col-sm-9 Etiam porta sem malesuada magna mollis euismod.
					dt.col-sm-3.text-truncate Truncated term is truncated
					dd.col-sm-9
						| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
					dt.col-sm-3 Nesting
					dd.col-sm-9
						dl.row
							dt.col-sm-4 Nested definition list
							dd.col-sm-8 Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.


			.col-lg-7.col-xl-8.order-lg-1
				.list-thumb.list-items
					.item(bg-img-responsive="./img/news/img-06.jpg", bg-img-responsive-sm="./img/news/img-06.jpg", bg-img-responsive-xs="./img/news/img-06.jpg")
					.item(bg-img="./img/news/img-07.jpg")
					.item(bg-img="./img/news/img-08.jpg")
					.item(bg-img="./img/news/img-09.jpg")
				.slider-control
					.slider-nav
						.item(bg-img="./img/news/img-06.jpg")
						.item(bg-img="./img/news/img-07.jpg")
						.item(bg-img="./img/news/img-08.jpg")
						.item(bg-img="./img/news/img-09.jpg")
						
