section.canhcam-boxes-16
	.container
		.row
			.col-lg-4
				a.item(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-etc EXPANDSSPRING 2017  COLLECTION
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit architecto labore corrupti ad debitis nobis totam facilis! Aspernatur dolores recusandae ea iste.

			.col-lg-4
				a.item(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-ANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem ipsum dodipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit labore corrupti ad debitis nobis totam facilis! Aspernatur dolores recusandae ea iste.
			.col-lg-4
				a.item(href="#")
					figure
						.boximg(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
						figcaption
							.textctn
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusamus officia, maxime sed, optio minima animi odit architte.
