section.canhcam-boxes-16
	article.project-hot
		.container
			.row
				.col-lg-3.part-list
					a.item(href="#")
						figure(bg-img="./img/product/ser1.png")
							img.img-fluid(src="../img/product/ser1.png", alt="alt")
							figcaption
								h3 Hệ thống điện
					a.item(href="#")
						figure(bg-img="./img/product/ser2.png")
							img.img-fluid(src="./img/product/ser2.png", alt="alt")
							figcaption
								h3 Hệ thống điều hòa không khí
				.col-lg-6.top-project
					a.item(href="#")
						figure(bg-img="./img/product/ser3.png")
							img.img-fluid(src="./img/product/ser3.png", alt="alt")
							figcaption
								h3 tư vấn, thiết kế giám sát hệ thống M&E
					a.item(href="#")
						figure(bg-img="./img/product/ser4.png")
							img.img-fluid(src="./img/product/ser4.png", alt="alt")
							figcaption
								h3 công nghệ thông tin
					a.item(href="#")
						figure(bg-img="./img/product/ser5.png")
							img.img-fluid(src="./img/product/ser5.png", alt="alt")
							figcaption
								h3 Hệ thống PCCC
				.col-lg-3.part-list
					a.item(href="#")
						figure(bg-img="./img/product/ser7.png")
							img.img-fluid(src="./img/product/ser7.png", alt="alt")
							figcaption
								h3 Hệ thống cấp thoát nước
					a.item(href="#")
						figure(bg-img="./img/product/ser7.png")
							img.img-fluid(src="./img/product/ser7.png", alt="alt")
							figcaption
								h3 Hệ thống cấp thoát nước
