section.canhcam-breadcrumb-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/bg/sub-2.jpg", bg-img-responsive-sm="./img/bg/sub-2.jpg", bg-img-responsive-xs="./img/bg/sub-2.jpg")
	.main-breadcrumb
		.container
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Home
				li.breadcrumb-item
					a(href='#') Library
				li.breadcrumb-item.active(aria-current='page') Data
