footer.canhcam-footer-8
	.linkfooter
		.container
			.row
				.col-sm-6.col-md-3.col-lg
					h4.text-center.text-md-left thông tin công ty
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Giới thiệu công ty
						.list-group-item
							a(href="#") Tiêu chí bán hàng
						.list-group-item
							a(href="#") Đối tác chiến lược
						.list-group-item
							a(href="#") Hệ thống trung tâm
						.list-group-item
							a(href="#") Tuyển dụng
				.col-sm-6.col-md-3.col-lg
					h4.text-center.text-md-left.mt-5.mt-sm-0 hỗ trợ khách hàng
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Hướng dẫn mua hàng
						.list-group-item
							a(href="#") Hình thức thanh toán
						.list-group-item
							a(href="#") Chăm sóc khách hàng
						.list-group-item
							a(href="#") Quy định đổi sản phẩm
						.list-group-item
							a(href="#") Tra cứu thẻ thành viên
				.col-sm-6.col-md-3.col-lg
					h4.text-center.text-md-left.mt-5.mt-md-0 Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Giới thiệu công ty
						.list-group-item
							a(href="#") Tiêu chí bán hàng
						.list-group-item
							a(href="#") Đối tác chiến lược
						.list-group-item
							a(href="#") Hệ thống trung tâm
						.list-group-item
							a(href="#") Tuyển dụng
				.col-sm-6.col-md-3.col-lg
					h4.text-center.text-md-left.mt-5.mt-md-0 Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Hướng dẫn mua hàng
						.list-group-item
							a(href="#") Hình thức thanh toán
						.list-group-item
							a(href="#") Chăm sóc khách hàng
						.list-group-item
							a(href="#") Quy định đổi sản phẩm
						.list-group-item
							a(href="#") Tra cứu thẻ thành viên

				.col-md-4.col-lg-auto
					h4.text-center.text-md-left.mt-5.mt-lg-0 SOCIAL
					.socials
						.social-list
							ul.list-inline.text-center.text-md-left
								li.list-inline-item
									a(href='https://www.linkedin.com/baonguyenyam', target='_blank')
										i.fab.fa-linkedin(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
								li.list-inline-item
									a(href='https://www.facebook.com/baonguyenyam', target='_blank')
										i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
								li.list-inline-item
									a(href='https://www.twitter.com/baonguyenyam', target='_blank')
										i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')
								li.list-inline-item
									a(href='https://www.google.com/+baonguyenyam', target='_blank')
										i.fab.fa-google(ga-action-click='', data-value='Google', data-label='Google', data-action='Google')
			.row
				.col-md-6.col-lg.text-center.text-md-left
					h4.mt-5 thông tin công ty
					figure.mb-0
						img(src="./img/product/payments.png", alt="alt")
				.col-md-6.col-lg-auto.text-center.text-md-left
					h4.mt-5 hỗ trợ khách hàng
					figure.mb-0
						img(src="./img/logo.png", alt="alt")
					

	.copyright
		.container
			.row
				.col.text-center.text-md-left
					p.mb-0 KÊNH MUA SẮM TRỰC TUYẾN UY TÍN GIÁ TỐT tại VIỆT NAM. 
						br 
						| Copyright @ 1999 - 2017 Công ty Cổ phần Thương mại ABC. Giấy chứng nhận ĐKKD số: 1234567 do Sở KH & ĐT TPHCM cấp lần đầu ngày 22/06/2006. Giấy phép ICP số 01/GP-STTTT do Sở Thông tin & Truyền thông TP.HCM cấp ngày 11/01/2017. Địa chỉ: 63-65-67 Trần Hưng Đạo, P.Cầu Ông Lãnh, Q.1, TP.Hồ Chí Minh. 
						br 
						| Điện thoại: 1900 0091 - Email: chamsoc@abc.com