body {
	padding: 1rem
}
.dab-item-remove.btn-danger{
	background-color: #48a4bc !important;
	border-color: #48a4bc !important;
	    font-size: .675rem;
}
.dab-item-remove .fa-times:before {
    content: "\f303"
}
.dab-item-remove {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.dab-item{
	position: relative;
}
.dab-item-row > .dab-item-remove,
.dab-item-gird > .dab-item-remove {
	display: none;
	position: relative;
}
.dab-item:hover > .js-remove, 
.dab-item:hover > .js-remove-child {
	display: block;
}