
section.canhcam-gallery-6
	article.gallery-details
		.row.mb-4
			.col
				.gallery-lists#gallery-lists
					a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/landing-4.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure(bg-img="./img/news/landing-4.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-4.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/landing-2.jpg", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure(bg-img="./img/news/landing-2.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-2.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/img-09.jpg", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure(bg-img="./img/news/img-09.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-09.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/img-08.jpg", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure(bg-img="./img/news/img-08.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-08.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/landing-3.jpg", data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure(bg-img="./img/news/landing-3.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-3.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/img-05.jpg", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure(bg-img="./img/news/img-05.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-05.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/img-06.jpg", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure(bg-img="./img/news/img-06.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/landing-1.jpg", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure(bg-img="./img/news/landing-1.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-1.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/designer.jpg", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure(bg-img="./img/news/designer.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/designer.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(href="./img/news/feature10.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure(bg-img="./img/news/feature10.png")
							.boxzoom
								img.img-fluid(src="./img/news/feature10.png", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
