section.canhcam-boxes-1
	article.container

		.row.no-gutters.boxes-details
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-basket-fill
					.col
						h3 Lorem ipsum dolor sit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-cart-outline
					.col
						h3 Consectetur adipisicing elit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-comment-multiple-outline
					.col
						h3 Lorem ipsum r adipisicing elit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-credit-card-multiple
					.col
						h3 Lorctetur adipisicing elit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-deskphone
					.col
						h3 Lorem ipsum dolor sit amet conng elit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col-auto
						i.mdi.mdi-email-open-outline
					.col
						h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						p Rerum totam dolor tenetur! Numquam sequi animi ex ut aliquid dolores. Ad facere placeat vero accusantium natus earum illo, fugit eligendi ipsam!
