footer.canhcam-footer-11
	.linkfooter
		.container
			.row
				.col-md-4.col-lg-4
					.location
						h4 Newsletter
						p 156 Nguyen anh thu, 1 district, hcm
							br
							| hotline: 12345678
							br
							.email 
								p info@canhcam.vn
				
				.col-md-8.col-lg
					.row
						.col
							h4.mt-5.mt-md-0 Products
							nav.list-group
								.list-group-item
									a(href="#") Ice cream
								.list-group-item
									a(href="#") hera
								.list-group-item
									a(href="#") saigon night
								.list-group-item
									a(href="#") pure
								
						.col.col-lg
							h4.mt-5.mt-md-0(style='visibility: hidden') Product
							nav.list-group
								.list-group-item
									a(href="#") moisture
								.list-group-item
									a(href="#") stylish
								.list-group-item
									a(href="#") natural
								
				.col-md-12.col-lg-4
					.socials.mt-4.mt-lg-0
						.input-group
							input.form-control(type='text', placeholder="Enter your email", aria-label="Email", aria-describedby='basic-addon2')
							.input-group-append
								button.btn.btn-primary.emailbtn(type='button')
									i.fal.fa-long-arrow-right
						.text-center.text-lg-left.mt-2
							p Subscribe to receive updates, access to exclusive deals, and more.
						.social-list
							ul.list-inline.text-center.text-lg-left
								li.list-inline-item
									a(href='https://www.linkedin.com/baonguyenyam', target='_blank')
										i.fab.fa-linkedin(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
								li.list-inline-item
									a(href='https://www.facebook.com/baonguyenyam', target='_blank')
										i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')
								li.list-inline-item
									a(href='https://www.twitter.com/baonguyenyam', target='_blank')
										i.fab.fa-twitter(ga-action-click='', data-value='Twitter', data-label='Twitter', data-action='Twitter')

	.copyright
		.container
			.row
				.col.text-center
					p.mb-0 2018 by Canh Cam. All right reserved. designed by Canh Cam
