section.canhcam-nav-5
	.container
		.row
			.col
				.covernav
					ul.nav.justify-content-center.justify-content-between
						li.nav-item.active
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-01.svg", alt="")
								span Textile
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-02.svg", alt="")
								span Caps
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-03.svg", alt="")
								span Golf Bags
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-04.svg", alt="")
								span Luggage
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-01.svg", alt="")
								span Textile
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-02.svg", alt="")
								span Caps
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-03.svg", alt="")
								span Golf Bags
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-04.svg", alt="")
								span Luggage
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-01.svg", alt="")
								span Textile
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-02.svg", alt="")
								span Caps
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-03.svg", alt="")
								span Golf Bags
						li.nav-item
							a.nav-link(href="#")
								figure
									img(src="./img/icon/ico-04.svg", alt="")
								span Luggage
						