footer.canhcam-footer-10(bg-img="./img/bg/bg-circle.png")
	.canhcam-sub
		.container
			.row
				.col-lg-6.text-center.text-lg-left.mb-4
					.row.d-flex
						.col-lg-4
							h5.h4 Đăng ký nhận bản tin
						.col-lg.text-details Đăng ký email để nhận những thông tin mới nhất từ ABC Việt Nam.
				.col-lg-6.text-center.text-lg-left.mb-4.subscribe
					form.validator.d-flex.justify-content-center
						.form-group.d-flex.w-100
							input#email.form-control.mr-2(type='email', pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", placeholder='Enter your email', data-error="Vui lòng nhập thông tin", required)
							button.btn.btn-primary(type='submit') Đăng ký
			.lines
	.footer-content
		.container
			.lines
			.row.justify-content-between
				.col-lg-6
					.slogan.text-center.text-md-left.d-md-flex
						.logo
							a.mb-4(href="")
								img(src="./img/logo-ang.png", alt="logo")
						.quote.mb-4.mb-md-0
							h6.h6 CÔNG TY TNHH HEHE VIỆT NAM
							.text
								p.mb-0 Điện Biên Phủ, Phường 1, Quận 3, Tp. Hồ Chí Minh, Việt Nam.
								p.mb-0 ĐT: 123456789
								p.mb-0 Mail: info@abc.com.vn
				.col-lg-6
					.row
						.col.mt-4.mt-lg-0
							.footer-nav
								h6.text-left SẢN PHẨM
								nav.list-group.text-left
									.list-group-item
										a(href="#") Lốp xe tải - xe buýt
									.list-group-item
										a(href="#") Lốp xe nâng
									.list-group-item
										a(href="#") Lốp xe nông nghiệp
									.list-group-item
										a(href="#") Lốp xe công nghiệp
									.list-group-item
										a(href="#") Lốp xe du lịch
						.col.mt-4.mt-lg-0
							.footer-nav
								h6.text-left GIỚI THIỆU
								nav.list-group.text-left
									.list-group-item
										a(href="#") Về Tutto Việt Nam
									.list-group-item
										a(href="#") Hệ thống phân phối
						.col.mt-4.mt-lg-0
							.footer-nav
								h6.text-left LIÊN KẾT
								nav.list-group.text-left
									.list-group-item
										a(href="#") Chương trình khuyến mãi
									.list-group-item
										a(href="#") Tin tức
									.list-group-item
										a(href="#") Thư viện
									.list-group-item
										a(href="#") Tuyển dụng
									.list-group-item
										a(href="#") Liên hệ
	.copy-right
		.container
			.row
				.col-12.text-center.text-md-left
					span © 2018 ABC. all right reserved. designed by canhcam.
