section.canhcam-nav-9
	article.nav-list
		.container
			nav
				ul
					li
						a.active(data-link="about-1" href="javascript:void(0)") Tổng quan
					li
						a(data-link="about-2" href="javascript:void(0)") Lịch sử hình thành và phát triển
					li
						a(data-link="about-3" href="javascript:void(0)") Tầm nhìn - sứ mệnh
					li
						a(data-link="about-4" href="javascript:void(0)") Điều lệ & Quy chế quản trị công ty
					li
						a(data-link="about-5" href="javascript:void(0)") Bộ máy tổ chức
					li
						a(data-link="about-6" href="javascript:void(0)") Sơ đồ tổ chức
					li
						a(data-link="about-7" href="javascript:void(0)") Đoàn thể
