section.canhcam-news-1
	article.news-hot
		.container
			.row
				.col-lg-7.top-list
					.owl-carousel.owl-theme
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-04.jpg", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-03.jpg", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-05.jpg", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-lg-5.part-list
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-07.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-09.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
	article.news-list
		.container
			.row.d-none.d-md-block
				.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
					.btn-group
						button#list.btn.btn-outline-primary(type="button")
							i.fa.fa-th-list
							| List
						button#grid.btn.btn-outline-primary.active(type="button")
							i.fa.fa-th
							| Grid

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-07.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-06.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-05.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-05.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-06.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-07.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
