section.canhcam-news-4
	article.news-hot
		.container
			.row
				.col-lg-6.top-list
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/designer.jpg", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Không chỉ thuận lợi về vị trí, căn hộ tại New City còn được thiết kế với phong cách hòa cùng thiên nhiên, nội thất hiện đại, mang lại tiện nghi và cuộc sống lý tưởng cho những gia đình trẻ. Bạn mới lập gia đình? Bạn là một người phụ nữ phải lo lắng cho mọi thành viên gia đình trong khi vẫn phải làm tốt công việc tại cơ quan? Bạn là người luôn cảm thấy thiếu thời gian mỗi ngày khi phải chia đều cho công việc, gia đình và nội trợ?


				.col-lg-6.part-list
					.row
						.col-sm
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/feature8.png", alt="alt")
									figcaption
										time
											i.fa.fa-calendar
											| 12/12/2017
										h3 golf-etc EXPANDS REFL
						.col-sm
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/feature8.png", alt="alt")
									figcaption
										time
											i.fa.fa-calendar
											| 12/12/2017
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
					.row
						.col-sm
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/feature8.png", alt="alt")
									figcaption
										time
											i.fa.fa-calendar
											| 12/12/2017
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
						.col-sm
							a.item(href="#")
								figure
									img.img-fluid(src="./img/news/feature8.png", alt="alt")
									figcaption
										time
											i.fa.fa-calendar
											| 12/12/2017
										h3 golf-etc EXPANDS REFLG IN SPRING 2017  COLLECTION
	article.news-list
		.container
			.row.d-none.d-md-block
				.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
					.btn-group
						button#list.btn.btn-outline-primary(type="button")
							i.fa.fa-th-list
							| List
						button#grid.btn.btn-outline-primary.active(type="button")
							i.fa.fa-th
							| Grid

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature10.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature11.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
