section.canhcam-checkout-4
	.container.mb-5
		.row 
			.col-lg-8
				.box-resume.mb-4
					.box-resume-title
						h3.h6
							i.fa.fa-truck.fa-fw
							| 
							span 
								span PHƯƠNG THỨC VẬN CHUYỂN
					.box-resume-content
						.form-check.abc-checkbox.abc-checkbox-circle
							input.form-check-input(name="IsChecked", type='radio', id="no-reg", checked)
							label.form-check-label(for="no-reg") Giao hàng tận nơi
								| 
								span.text-mini Đơn hàng sẽ được giao tới tận tay Quý khách
						.form-check.abc-checkbox.abc-checkbox-circle.mb-0
							input.form-check-input(name="IsChecked", type='radio', id="add-reg")
							label.form-check-label(for="add-reg") Khác
				.box-resume.mb-4
					.box-resume-title
						h3.h6
							i.fa.fa-dollar-sign.fa-fw
							| 
							span 
								span PHƯƠNG THỨC THANH TOÁN
					.box-resume-content
						.form-check.abc-checkbox.abc-checkbox-circle
							input.form-check-input(name="IsCheckedPay", type='radio', id="no-pay", checked)
							label.form-check-label(for="no-pay") Chuyển khoản
						.form-check.abc-checkbox.abc-checkbox-circle.mb-0
							input.form-check-input(name="IsCheckedPay", type='radio', id="add-pay")
							label.form-check-label(for="add-pay") 
								.dec Thanh toán khi nhận hàng (COD)
								.text-mini Quý khách sẽ thanh toán bằng tiền mặt hoặc thẻ khi Samsonite giao hàng cho quý khách
				
				.box-resume.mb-4
					.notice.scrollbar-inner
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt.
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt.
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore aspernatur similique nemo corrupti, eos unde pariatur. Nobis fugit aut dolorum, ut, neque deserunt, tempore fugiat facilis ipsa dignissimos incidunt.
				.row.mt-4
					.col 
						.form-check.abc-checkbox.mb-0
							input.form-check-input(name="IsChecked1", id="checkbox2", type='checkbox')
							label.form-check-label(for="checkbox2") Tôi đã đọc và đồng ý với các điều khoản trên

				
				.row.mb-4.navi.mt-5
					.col.mb-3.text-center.text-sm-left
						a.btn.btn-secondary.text-white(href="#")
							i.fa.fa-chevron-left.mr-2
							| 
							| Tiếp tục mua hàng
					.col.mb-3.text-center.text-sm-right
						button.btn.btn-primary(type="submit")
							|  Hoàn thành
							| 
							i.fa.fa-chevron-right.ml-2
			.col-lg-4.box-resume.mt-4.mt-lg-0
				.box-resume-title
					.row.align-items-center
						.col
							h3.h6
								i.fa.fa-shopping-cart
								| 
								span (
									span.text-danger 1
									| 
									span SẢN PHẨM)
						.col-auto 
							a.btn.btn-sm.btn-warning.text-dark(href="#")
								i.fa.fa-edit 
								| 
								| Sửa
				table.table.table-bordered
					tbody
						tr 
							td.product-details
								.media
									img.mr-3(src="./img/product/t-shirt.jpg" alt="XXXXXX")
									.media-body
										.more American Tourister
										h4.mb-0 
											a(href="#") Vali kéo Bon Air Deluxe
										.desc Trung 66cm/24inch TSA
							
							td.product-result
								.quantity 3.900.000 ₫
									br 
									| x 1
								.sum 3.900.000 ₫
						tr 
							td.product-details Tạm tính
							td.product-result
								.sum 3.900.000 ₫
						tr 
							td.product-details Tạm tính
							td.product-result
								.sum 3.900.000 ₫
						tr 
							td.product-details Thành tiền
							td.product-result
								.sum 3.900.000 ₫

