section.canhcam-carousel-9
	.default-title.white.text-center
		h1.h1.mb-4 Lịch sử hình thành và phát triển
	.slide-1.slide
		.item(bg-img="./img/slider/slider-1-sm.png")
		.item(bg-img="./img/slider/slider-1-sm.png")
		.item(bg-img="./img/slider/slider-1-sm.png")
		.item(bg-img="./img/slider/slider-1-sm.png")
		.item(bg-img="./img/slider/slider-1-sm.png")
	.wrap
		.slide-2.slide.nav.text-center.d-none.d-lg-flex
			.item
				h4 1994
			.item
				h4 1996
			.item
				h4 2006
			.item
				h4 2008
			.item
				h4 2018
		.slide-3.slide.content
			.item
				.text
					h2.d-lg-none 1994
					h3 Tổng công ty Dầu Việt Nam - CTCP (PVOIL)
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor dolores ipsam nihil quibusdam, provident deserunt inventore soluta consequuntur eum consectetur mollitia natus sint doloremque, quaerat assumenda ducimus. Quae, hic.
			.item
				.text
					h2.d-lg-none 1996
					h3 Tổng công ty Dầu Việt Nam - CTCP (PVOIL)
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor dolores ipsam nihil quibusdam, provident deserunt inventore soluta consequuntur eum consectetur mollitia natus sint doloremque, quaerat assumenda ducimus. Quae, hic.
			.item
				.text
					h2.d-lg-none 2006
					h3 Tổng công ty Dầu Việt Nam - CTCP (PVOIL)
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor dolores ipsam nihil quibusdam, provident deserunt inventore soluta consequuntur eum consectetur mollitia natus sint doloremque, quaerat assumenda ducimus. Quae, hic.
			.item
				.text
					h2.d-lg-none 2008
					h3 Tổng công ty Dầu Việt Nam - CTCP (PVOIL)
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor dolores ipsam nihil quibusdam, provident deserunt inventore soluta consequuntur eum consectetur mollitia natus sint doloremque, quaerat assumenda ducimus. Quae, hic.
			.item
				.text
					h2.d-lg-none 2018
					h3 Tổng công ty Dầu Việt Nam - CTCP (PVOIL)
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor dolores ipsam nihil quibusdam, provident deserunt inventore soluta consequuntur eum consectetur mollitia natus sint doloremque, quaerat assumenda ducimus. Quae, hic.
