section.canhcam-breadcrumb-3
	.container
		.row
			.col
				ul.bullets
					li.bullet-wrapper.active
						span.bullet 1
					li.bullet-wrapper.active
						span.bullet 2
					li.bullet-wrapper.active
						span.bullet 3
					li.bullet-wrapper
						span.bullet 4
					li.bullet-wrapper
						span.bullet 5

