section.canhcam-shop-4
	article.product-lists
		.container
			.row
				.col-md-4.col-lg-3
					.boxprice.mb-2.mb-sm-4
						.title.d-flex.d-md-none.justify-content-between.align-items-center.mb-3
							h3 Filter Search
							button.collapsed.btn.btn-sm(data-toggle="collapse", data-target="#filterSearch", role="button", aria-expanded="false" aria-controls="filterSearch")
								i.fa.fa-search
						form#filterSearch
							.innerbox
								.title 
									h4 
										.ic 
											img(src="./img/icon/ico-01.svg", alt="")
										.name Thiết bị vệ sinh
									.desc Lorem ipsum dolor sit amet consectetur
								.body 
									a(href="#").form-check.abc-checkbox
										input.form-check-input(name="IsChecked", id="checkbox", type='checkbox', value="true")
										label.form-check-label(for="checkbox") Bồn cầu
									a(href="#").form-check.abc-checkbox
										input.form-check-input(name="IsChecked1", id="checkbox1", type='checkbox', value="true")
										label.form-check-label(for="checkbox1") Chậu rửa
										
									.child 
										a(href="#").form-check.abc-checkbox
											input.form-check-input(name="IsChecked3", id="checkbox3", type='checkbox', value="true")
											label.form-check-label(for="checkbox3") Bồn cầu
										a(href="#").form-check.abc-checkbox
											input.form-check-input(name="IsChecked4", id="checkbox4", type='checkbox', value="true")
											label.form-check-label(for="checkbox4") Chậu rửa

									a(href="#").form-check.abc-checkbox
										input.form-check-input(name="IsChecked2", id="checkbox2", type='checkbox', value="true")
										label.form-check-label(for="checkbox2") I agree
									a(href="#").form-check.abc-checkbox
										input.form-check-input(name="IsChecked5", id="checkbox5", type='checkbox', value="true")
										label.form-check-label(for="checkbox5") I agree
							
							h4 Size
							a(href="#").checkbox-styled.active
								span S
							a(href="#").checkbox-styled
								span M
							a(href="#").checkbox-styled
								span L
							a(href="#").checkbox-styled
								span XL
							a(href="#").checkbox-styled
								span.sad Kolher
							
				.col-md-8.col-lg-9.product-details
					.product-details-box
						.row.filter.no-gutters.justify-content-between
							.col-12
								nav(aria-label='breadcrumb')
									ol.breadcrumb
										li.breadcrumb-item
											a(href='#') 
												i.fa.fa-home 
										li.breadcrumb-item
											a(href='#') Library
										li.breadcrumb-item.active(aria-current='page') Data

							.col-12.col-lg-auto.d-flex.align-items-center.justify-content-between
								ul.nav.align-items-center
									li.nav-item
										.nav-link
											strong Lọc theo
									li.nav-item
										a(href="#").form-check.abc-radio
											input.form-check-input(name="IsChecked7", id="checkbox7", type='radio', value="1")
											label.form-check-label(for="checkbox7") Tất cả
									li.nav-item
										a(href="#").form-check.abc-radio
											input.form-check-input(name="IsChecked7", id="checkbox8", type='radio', value="1")
											label.form-check-label(for="checkbox8") Tất cả
									li.nav-item
										a(href="#").form-check.abc-radio
											input.form-check-input(name="IsChecked7", id="checkbox9", type='radio', value="1")
											label.form-check-label(for="checkbox9") Tất cả
									

							.col-12.col-lg.d-flex.align-items-center.justify-content-lg-end
								ul.nav.align-items-center
									li.nav-item
										.nav-link Xem
									li.nav-item
										.nav-link
											select.form-control.form-control-sm
												option(selected) Choose...
												option(value="1") One
												option(value="2") Two
												option(value="3") Three
									li.nav-item
										.nav-link trên trang
									li.nav-item.d-none.d-sm-block 
										.nav-link 
											.btn-group
												button#list.btn.btn-sm(type="button")
													i.fa.fa-th-list
												button#grid.btn.btn-sm.active(type="button")
													i.fa.fa-th

						.row
							.col
								.boxproducts
									.row.no-gutters
										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/01.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													.circle
														span.circle-hot HOT
														span.circle-success GIFT
													.bagde
														span.bagde-success Sale 30%
													img(src="./img/product/02.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/03.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/04.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart
								.boxproducts
									.row.no-gutters
										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/01.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													.circle
														span.circle-hot HOT
														span.circle-success GIFT
													.bagde
														span.bagde-success Sale 30%
													img(src="./img/product/02.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/03.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

										.col-sm-6.col-lg-3.item
											a.item-detail(href="#")
												figure
													img(src="./img/product/04.jpg", alt="")
													figcaption
														h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.code Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
														.old-price $8987979
														.price $15.68
														.noted Lorem ipsum dolor si ipsum dol
														.addtocart-toggle
															.btn-group
																button.btn
																	i.fa.fa-cart-plus
																	| Add to Cart
											.addtocart
												.btn-group
													a.btn(href="#")
														i.fa.fa-cart-plus
														| Add to Cart

					
					.row.pagelist
						.col.d-flex.align-items-center.justify-content-center.justify-content-md-end
							ul.pagination
								li.page-item
									a.page-link(href="#", title="title")
										i.fa.fa-chevron-left
								li.page-item
									a.page-link(href="#", title="title") 1
								li.page-item.active
									a.page-link(href="#", title="title") 2
								li.page-item
									a.page-link(href="#", title="title") 3
								li.page-item
									a.page-link(href="#", title="title") 4
								li.page-item
									a.page-link(href="#", title="title")
										i.fa.fa-chevron-right
