section.canhcam-testimonials-1
	.container
		.row
			.col
				.testimonial-slider.owl-carousel
					figure.item
						img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
						figcaption
							blockquote
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
							.author
								h5.mt-4
									| Pelican Steve
									span LittleSnippets
					figure.item
						img(src='./img/user/avatar-large-2.jpg', alt='sq-sample10')
						figcaption
							blockquote
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
							.author
								h5.mt-4
									| Pelican Steve
									span LittleSnippets
