section.canhcam-news-5
	article.news-hot
		.container
			.row
				.col-lg-6.top-list
					a.item(href="#")
						figure(bg-img="./img/news/feature9.png")
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								h3 Những tính năng của hoa lốp xe ôtô

				.col-lg-6.part-list
					.row.no-gutters
						.col-sm(bg-img="./img/news/feature8.png")
							a.item(href="#")
								img.w-100(src="./img/news/feature8.png", alt="alt")
						.col-sm.new-info
							.item(href="#")
								figure
									figcaption
										h3 Dấu hiệu nhận biết cần thay lốp xe máy ngay lập tức
										p Trong quá trình sử dụng, khi nhận thấy một số biểu hiện bất thường dưới đây, bạn cần phải thay lốp xe ngay để đảm bảo chuyến
										p.mb-0.text-right
											a(href="#") Xem thêm
					.row.no-gutters
						.col-sm.order-sm-2(bg-img="./img/news/feature8.png")
							a.item(href="#")
								img.w-100(src="./img/news/feature8.png", alt="alt")
						.col-sm.order-sm-1.new-info
							.item(href="#")
								figure
									figcaption
										h3 Turanza T005 - Lốp xe đặc biệt, êm an toàn ngay cả khi lái xe dưới mưa
										p Bridgestone Việt Nam, Tập đoàn Bridgestone, tập đoàn sản xuất cao su và lốp xe lớn nhất thế giới, chính thức ra mắt dòng lốp xe cao cấp Turanza T005.
										p.mb-0.text-right
											a(href="#") Xem thêm
	article.news-list.mt-4
		.container
			.row.d-none.d-md-block
				.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
					.btn-group
						button#list.btn.btn-outline-primary(type="button")
							i.fa.fa-th-list
							| List
						button#grid.btn.btn-outline-primary.active(type="button")
							i.fa.fa-th
							| Grid

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature10.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature11.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time
									i.fa.fa-calendar
									| 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
