section.canhcam-boxes-3
	.container.number
		.row
			.col-lg-8.offset-lg-2.text-center
				.row.no-gutters.align-items-stretch
					.col-sm-4
						.item.d-flex.align-items-center.justify-content-center
							figure
								i.mdi.mdi-basket-fill
								figcaption
									h3
										| +
										span(class="counter", data-duration="8000", data-count="343") 0
									p Employees
						.item.d-flex.align-items-center.justify-content-center
							figure
								i.mdi.mdi-cart-outline
								figcaption
									h3
										span(class="counter", data-duration="8000", data-count="55") 0
									p Employees
					.col-sm-4
						.item-block.d-flex.h-100.align-items-center.justify-content-center
							figure
								i.mdi.mdi-comment-multiple-outline
								figcaption
									h3
										| +
										span(class="counter", data-duration="8000", data-count="656") 0
									p Employees
									p Our products are developed to keep you cool, dry & flexible, providing you with the comfort you need to make your best swing that much better.
					.col-sm-4
						.item.d-flex.align-items-center.justify-content-center
							figure
								i.mdi.mdi-credit-card-multiple
								figcaption
									h3
										span(class="counter", data-duration="8000", data-count="5465") 0
									p Employees
						.item.d-flex.align-items-center.justify-content-center
							figure
								i.mdi.mdi-email-open-outline
								figcaption
									h3
										span(class="counter", data-duration="8000", data-count="876") 0
									p Employees
