@import ../../_includes
//////////////////////////////////////
// CODE
//////////////////////////////////////

.canhcam-shop-details-3
	.product-details
		padding: 2rem 0
		+media-breakpoint-up(md)
			padding: 3rem 0
			.order-md-1
				-ms-flex-order: 1
				order: 1
			.order-md-2
				-ms-flex-order: 2
				order: 2

		.infomation
			h1
				+fz(1.8rem)
			h3
				+fz(1.1rem)
			.price
				color: color-get($mau,do-1)
				margin-bottom: 0
				+fz(1.3rem)
			.price-out
				color: darken(color-get($mau,trang) ,50%)
				+fz(.85rem)
				text-decoration: line-through
			hr
				border-top: 1px dashed darken(color-get($mau,trang) ,5%)
			.table
				background: darken(color-get($mau,trang) ,3%)
				tr
					td
						border-color: color-get($mau,trang)
			.checkbox-styled
				cursor: pointer
				span
					display: inline-block
					background: darken(color-get($mau,trang) ,3%)
					+pad(.5rem 1rem)
					+bor-rad(5px)
					text-transform: uppercase
					border: 1px solid darken(color-get($mau,trang) ,20%)
				input[type="checkbox"]:checked + span,
				input[type="radio"]:checked + span
					background: color-get($mau,main)
					color: color-get($mau,trang)
					border: 1px solid color-get($mau,main)
				input
					display: none
			#quantity
				input
					max-width: 40px
					text-align: center
					border-color: darken(color-get($mau,trang) ,20%)
				.btn
					border-color: darken(color-get($mau,trang) ,20%)
		.product-item
			text-align: center
			img
				max-width: 100%
		.product-control
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			margin-top: 2rem
			.item
				text-align: center
				margin: 0 3px
				figure
					margin-bottom: 0
				img
					max-width: 80px
					display: inline-block
					border: 2px solid transparent
					+bor-rad(5px)
				&:hover
					img
						border: 2px solid color-get($mau,main)
				&.active
					img
						border: 2px solid color-get($mau,main)
