section.canhcam-boxes-10
	.container 
		.row.mb-2
			.col-md-8.col-lg-9 
				h1.h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				time
					i.fa.fa-calendar-alt
					| 12/12/2017
				p.lead Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.
				h4.h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				p Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.
				p Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.
				h5.h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				p Fugit, officia dignissimos corrupti repudiandae tempora pariatur expedita eligendi consectetur. Ipsam officiis sint qui fugiat a nesciunt, fugit eius possimus libero at.
				p 
					a.btn(href="#", title="title").download.btn-lg
						i.fa.fa-download
						| Tải về 
			.col-md-4.col-lg-3
				h5.h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
				hr 
				.item 
					time
						i.fa.fa-calendar-alt
						| 12/12/2017
					p
						a(href="#", title="title") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet hic aperiam assumenda sequi, numquam tenetur dicta soluta illo voluptatibus. Id quos quia quae fuga fugit, expedita quam laborum mollitia.
				hr 
				.item 
					time
						i.fa.fa-calendar-alt
						| 12/12/2017
					p
						a(href="#", title="title") Lorem ipsum dolor sit amet consectetur

				hr 
				.item 
					time
						i.fa.fa-calendar-alt
						| 12/12/2017
					p
						a(href="#", title="title") Lorem ipsum dolor sit amet consectetur

				hr 
				.item 
					time
						i.fa.fa-calendar-alt
						| 12/12/2017
					p
						a(href="#", title="title") Lorem ipsum dolor sit amet consectetur