section.canhcam-nav-4
	.container
		.row
			.col.mb-5
				.accordion-option
					h2.title.mr-auto Lorem Ipsum
					input#accordion_search_bar.mr-2(type='search', placeholder='Search')
					a.toggle-accordion.btn.btn-light.btn-sm(href='javascript:void(0)', accordion-id='#accordion') Collapse All
				#accordion.panel-group(role='tablist', aria-multiselectable='true')
					#block-1.card
						#hd-1.card-header(role='tab')
							h4
								a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cp-1', aria-expanded='true', aria-controls='cp-1')
									i.fa.fa-question
									span.mr-auto Collapsible Group Item #1
									em.fa.fa-plus
									em.fa.fa-minus
						#cp-1.collapse.show(role='tabpanel', aria-labelledby='hd-1')
							.card-body
								| 133 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
								| on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
								| raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					#block-2.card
						#hd-2.card-header(role='tab')
							h4
								a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#cp-2', aria-expanded='false', aria-controls='cp-2')
									i.fa.fa-question
									span.mr-auto Collapsible Group Item #2
									em.fa.fa-plus
									em.fa.fa-minus
						#cp-2.collapse(role='tabpanel', aria-labelledby='hd-2')
							.card-body
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
								| on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
								| raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					#block-3.card
						#hd-3.card-header(role='tab')
							h4
								a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#cp-3', aria-expanded='false', aria-controls='cp-3')
									i.fa.fa-question
									span.mr-auto Collapsible Group Item #3
									em.fa.fa-plus
									em.fa.fa-minus
						#cp-3.collapse(role='tabpanel', aria-labelledby='hd-3')
							.card-body
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
								| on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
								| raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
