header.canhcam-header-8
	nav.navbar.navbar-expand-lg.container
		a.navbar-brand.d-lg-none.mr-auto(href='#')
			img(src="./img/logo.png", alt="Logo")
		ul.language.list-inline
			li.list-inline-item
				a(href="")
					img(src="./img/icons/flag-1.png", alt="Vietnam , Vietnamese , Việt nam")
			li.list-inline-item
				a(href="")
					img(src="./img/icons/flag-2.png", alt="English , American , Mỹ")
			li.list-inline-item
				a(href="")
					img(src="./img/icons/flag-3.png", alt="Korean , Hàn Quốc")
			li.list-inline-item
				a(href="")
					img(src="./img/icons/flag-4.png", alt="Japan , Japanese , Nhật bản")
			li.list-inline-item
				a(href="")
					img(src="./img/icons/flag-5.png", alt="China , Chinese , Trung Quốc")
		button.navbar-toggler(type='button', data-toggle='offset', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.fa.fa-bars

		#CCMenuHeader.collapse.navbar-collapse
			.d-flex.d-lg-none.menubars
				.brand.mr-auto
					img(src="./img/logo.png", alt="Logo")
				button.navbar-toggler.navbar-closed(type='button')
					span.fa.fa-close
			.logo.d-none.d-lg-block.order-md-2
				img(src="./img/logo.png", alt="Logo")
				.closebnt
					i.mdi.mdi-close
			ul.navbar-nav.order-md-1
				li.nav-item.active
					a.nav-link(href='#') Giới thiệu
				li.nav-item
					a.nav-link(href='#') Lĩnh vực hoạt dộng
				li.nav-item
					a.nav-link(href='#') Dự án
				li.nav-item
					a.nav-link(href='#') Tin tức
			ul.navbar-nav.order-md-3
				li.nav-item
					a.nav-link(href='#') Thư viện
				li.nav-item
					a.nav-link(href='#') Tuyển dụng 
				li.nav-item
					a.nav-link(href='#') Liên hệ
			
