section.canhcam-shop-5
	article.product-lists.container
		span.fas.fa-sliders-h.pl-filter-trigger
		.pl-filter
			h4.pl-filter-title Danh mục sản phẩm
			// pl-filter-block
			.pl-filter-block
				h4 Tìm kiếm
				.pl-filter-content
					input.form-control(type="search", name="" , placeholder="Tìm kiếm")
			.pl-filter-wrapper#pl-filter-wrapper
				.pl-filter-block
					.pl-filter-content
						nav
							ul
								li.active
									a(href="#") Vali
									span.fas.fa-angle-down.dropdown-filter
									.sub-filter
										ul
											li.active
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
								li
									a(href="#") Vali
									span.fas.fa-angle-down.dropdown-filter
									.sub-filter
										ul
											li.active
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
								li
									a(href="#") Vali
									span.fas.fa-angle-down.dropdown-filter
									.sub-filter
										ul
											li.active
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
								li
									a(href="#") Vali
									span.fas.fa-angle-down.dropdown-filter
									.sub-filter
										ul
											li.active
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
											li
												a(href="#") Bồn cầu
				.pl-filter-block
					h4 Tìm kiếm
					.pl-filter-content.check-filter
						nav
							ul
								li.active
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
				.pl-filter-block
					h4 Tìm kiếm
					.pl-filter-content.check-filter
						nav
							ul
								li.active
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
				.pl-filter-block
					h4 Tìm kiếm
					.pl-filter-content.check-filter
						nav
							ul
								li.active
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
				.pl-filter-block
					h4 Tìm kiếm
					.pl-filter-content.check-filter
						nav
							ul
								li.active
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
								li
									a(href="#") Bồn cầu
				.pl-filter-block
					h5 Price
						span.float-right#geVal
					.price-handle
						input(id="price" type="text" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[0,1000]")
			span.lnr.lnr-cross.pl-close
		.pl-content
			.row
				.col-12
					.pl-tab-filter-wrapper
						.title
							h2 Vali 1
							p Tìm thấy 60 sản phẩm
						select.custom-select
							option(value="") ALL
							option(value="") Sản phầm 1
							option(value="") Sản phẩm 2
			.row
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li.active
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
				.col-6.col-md-3.item
					figure
						.pl-new
							span.badge.badge-secondary New
						.pl-boximg
							img.img-fluid(src="img/product/1.jpg", alt="alt")
						.pl-hidden
							a.btn.btn-more(href="#") Chi tiết
							a.btn.btn-buy(href="#") Mua sản phẩm
						figcaption
							ul
								li
									a.color(href="#" style="background: #2e3192")
								li
									a.color(href="#" style="background: #ec8b00")
								li
									a.color(href="#" style="background: #659f13")
							hgroup
								h3.brand
									a(href="#") Kamiliant
								h2.name
									a(href="#") Onda Size 79
								h3.type Spinner 79
							.pl-cost
								span.new 2.450.000đ
								span.old 4.900.000đ
