section.canhcam-carousel-8
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Products
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/1.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/2.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/3.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/4.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/5.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68
					.item
						figure.text-center
							.boxzoom
								a(href='#')
									img.img-fluid(src='./img/product/6.jpg', alt='')
								.box-color
									ul
										li
											a(href="")
										li
											a(href="")
										li
											a(href="")
							figcaption
								a(href='#')
									h3 Lorem ipsum dolor
									.categoryname
										span Chair
									.price
										.discount $20
										.cost $15.68

