section.canhcam-carousel-8(bg-img="./img/bg/bg.png")
	.container
		.row
			.col
				article.list-items
					.item
						img(src="./img/icon/ico-02.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-01.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-03.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-04.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-01.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-02.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					.item
						img(src="./img/icon/ico-03.svg", alt='')
						span.text Lorem ipsum dolor sit amet consectetur 
					
				article.list-content-items
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature8.png", alt="alt")
									figcaption 
							.col-lg
								.content.scrollbar-light
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature7.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature9.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature10.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature11.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature7.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
					.item
						.row
							.col-lg-auto
								figure
									img.img-fluid.img-thumbanil(src="./img/news/feature9.png", alt="alt")
									figcaption 
							.col-lg
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
