section.canhcam-carousel-5
	.container
		.row.mb-2
			.col.text-center
				h2.h2 Đối tác
				p
					img(src="./img/bar.png", alt="")
	.container
		.row
			.col
				.menucol.align-items-stretch
					h3.h6 Nhà tài trợ 
					article.owl-carousel.owl-theme.list-items
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
		.row
			.col
				.menucol.align-items-stretch
					h3.h6 Nhà tài trợ 
					article.owl-carousel.owl-theme.list-items
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')
							
						.item
							a(href='#')
								img(src='./img/c-8.png', alt='')

