section.canhcam-nav-2
	.container
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select)
					li.nav-item.active
						a.nav-link(href='#') Tất cả
					li.nav-item
						a.nav-link(href='#') Group
					li.nav-item
						a.nav-link(href='#') Tin A
					li.nav-item
						a.nav-link(href='#') Tin thị trường
					li.nav-item
						a.nav-link(href='#') Tin B
					li.nav-item
						a.nav-link(href='#') Tin vịt