section.canhcam-boxes-2(bg-img="./img/bg/sub-3.jpg")
	article.container
		.row
			.col.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
				h2.mb-5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla fugit officiis quod vel consectetur reprehenderit.
				p
					a.btn.btn-primary.btn-lg(href="#") Enter now
