// COLORS
$colors: (main: #64778a,
sen: #2196f3,
link: #24deac,
hover: #ec8b00,
bg: #e1e3e4,
border: #bfc1c2,
basic: #e5e5e5,
info: #2d7091,
success: #659f13,
warning: #e28327,
danger: #d85030,
// Secondary
tquoise: #1abc9c,
green-sea: #16a085,
emerald: #2ecc71,
nephritis: #27ae60,
peter-river: #3498db,
belize-hole: #2980b9,
amethyst: #9b59b6,
wisteria: #8e44ad,
wet-ashpalt: #34495e,
midnight-blue: #2c3e50,
sun-flower: #f1c40f,
dangerorange: #f39c12,
carrot: #e67e22,
pumpkin: #d35400,
alizarin: #e74c3c,
pomegranate: #c0392b,
clouds: #ecf0f1,
silver: #bdc3c7,
concrete: #95a5a6,
asbestos: #7f8c8d,
brown: #666666,
brown-black: #333333,
whites: #ffffff,
blacks: #000000)
