section.canhcam-gallery-2
	article.product-details
		.container
			.row.d-flex
				.col-md-5.order-md-2.mb-4.infomation
					h1 Nike Dri-Fit 1/2-Zip Top 639883 1/2-Zip Top 639883
					.all-price
						span.price 16.990.000 ₫
						span  -
						span.price-out 17.990.000 ₫
					hr
					.html Nike Golf Shirt with zip-up collar up to the chin in Dri-FIT sweat-wicking fabric Stretch inserts Contrasting details Body: Dri-FIT 100% polyester Upper body: 90% polyester, 10% elastane Machine washable
					hr
					h3.h3 COLOR
					label.checkbox-styled
						input(type='checkbox', name='happy', value='happy', checked='')
						span XL
					label.checkbox-styled
						input(type='checkbox', name='sad', value='sad')
						span.sad XXXL
					label.checkbox-styled
						input(type='checkbox', name='sdfsdf', value='sad')
						span.sad XXL
					h3.h3.mt-3 SIZE
					label.checkbox-styled
						input(type='radio', name='hello', value='happy', checked='')
						span XL
					label.checkbox-styled
						input(type='radio', name='hello', value='sad')
						span.sad XXXL

					h3.h3.mt-3 QUANTITY
					.form-inline#quantity
						.form-group
							input(value="1")
						.form-group.mx-sm-3
							button.btn.btn-primary Add to cart
					h3.h3.mt-3 UNIT
					table.table.table-bordered
						tbody
							tr
								td kljkl
								td.text-bold kljkl
							tr
								td kljkl
								td.text-bold kljkl
							tr
								td kljkl
								td.text-bold kljkl

				.col-md-7.order-md-1.slider-img
					article.slider-for.owl-carousel.owl-theme.list-items
						.item(data-hash="data-g-1")
							img(src="./img/product/pro.png", alt="")
						.item(data-hash="data-g-2")
							img(src="./img/product/pro.png", alt="")
						.item(data-hash="data-g-3")
							img(src="./img/product/pro.png", alt="")
						.item(data-hash="data-g-4")
							img(src="./img/product/pro.png", alt="")
						.item(data-hash="data-g-5")
							img(src="./img/product/pro.png", alt="")

					article.slider-control
						.slider-nav.owl-carousel.owl-theme
							a.item(href="#data-g-1")
								figure
									img(src="./img/product/s-01.png", alt="")
							a.item(href="#data-g-2")
								figure
									img(src="./img/product/s-02.png", alt="")
							a.item(href="#data-g-3")
								figure
									img(src="./img/product/s-01.png", alt="")
							a.item(href="#data-g-4")
								figure
									img(src="./img/product/s-02.png", alt="")
							a.item(href="#data-g-5")
								figure
									img(src="./img/product/s-01.png", alt="")
							a.item(href="#data-g-5")
								figure
									img(src="./img/product/s-01.png", alt="")
							a.item(href="#data-g-5")
								figure
									img(src="./img/product/s-01.png", alt="")
							a.item(href="#data-g-5")
								figure
									img(src="./img/product/s-01.png", alt="")
