section.canhcam-gallery-2
	article.gallery-details
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/landing-4.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/landing-4.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=tSZoXI1ECOs&list=PLsd7C5Bpj3ZG5ZeCSnT4d-U7ZKmRLMyAt", data-poster="./img/news/landing-2.jpg",  data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/landing-2.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=2ebLHbag6dU", data-poster="./img/news/img-09.jpg",  data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/img-09.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=jy6UD5JB9zI&feature=youtu.be", data-poster="./img/news/img-08.jpg",  data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/img-08.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/landing-4.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/landing-4.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=tSZoXI1ECOs&list=PLsd7C5Bpj3ZG5ZeCSnT4d-U7ZKmRLMyAt", data-poster="./img/news/landing-2.jpg",  data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/landing-2.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=2ebLHbag6dU", data-poster="./img/news/img-09.jpg",  data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/img-09.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="https://www.youtube.com/watch?v=jy6UD5JB9zI&feature=youtu.be", data-poster="./img/news/img-08.jpg",  data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure
							.boxzoom
								.zoom-item
									.mdi.mdi-play-circle-outline
									.mdi.mdi-play-circle
								img.img-fluid(src="./img/news/img-08.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
