section.canhcam-gallery-1.container
	.row
		.col Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum suscipit exercitationem reprehenderit repudiandae nostrum, eum quia quos voluptate? A nobis laudantium non incidunt iure. Odio explicabo ipsa debitis tenetur eaque?
