section.canhcam-nav-1(data-top="320px", data-left="1rem", data-fix="120", data-fix-type="absolute", data-fix-change="fixed")
	ul.navbar-nav
		li.nav-item.active
			a.nav-link(href='#') 
				.ic
					img(src="./img/icon/ico-01.svg")
		li.nav-item
			a.nav-link(href='#') 
				.ic
					img(src="./img/icon/ico-02.svg")
		li.nav-item
			a.nav-link(href='#') 
				.ic
					img(src="./img/icon/ico-03.svg")
		li.nav-item
			a.nav-link(href='#') 
				.ic
					img(src="./img/icon/ico-04.svg")
		