section.canhcam-boxes-11
	.container
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') #
								th(scope='col') First
								th(scope='col') Last
								th(scope='col') Handle
						tbody
							tr
								th(scope='row') 1
								td Mark
									span.badge.badge-danger Mới 
								td Otto
								td @mdo
							tr
								th(scope='row') 2
								td Jacob
								td Thornton
								td @fat
							tr
								th(scope='row') 3
								td(colspan='2') Larry the Bird
								td @twitter