extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-14/index.pug
block body
	include ../../../CANHCAM-LIB/carousel/c-8/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-10/index.pug
