extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-7/index.pug
block body
	//- include ../../../CANHCAM-LIB/nav/n-6/index.pug
	include ../../../CANHCAM-LIB/boxes/b-15/index.pug
	include ../../../CANHCAM-LIB/tagline/t-11/index.pug
	include ../../../CANHCAM-LIB/tagline/t-10/index.pug
	include ../../../CANHCAM-LIB/gallery/g-8/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-11/index.pug
