extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index-1"
	- var description = "Description for index-1 page"
	- var bodyclass = "index-1"
	- var href = "/index-1.html"
block header
	include ../../../CANHCAM-LIB/header/h-2/index.pug
block body
	include ../../../CANHCAM-LIB/news/n-2/index.pug
	include ../../../CANHCAM-LIB/carousel/c-2/index.pug
	include ../../../CANHCAM-LIB/gallery/g-2/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
