extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-10/index.pug
block body
	//- include ../../../CANHCAM-LIB/testimonials/t-1/index.pug
	//- include ../../../CANHCAM-LIB/tabs/t-1/index.pug
	//- include ../../../CANHCAM-LIB/tabs/t-2/index.pug
	//- include ../../../CANHCAM-LIB/tabs/t-3/index.pug
	include ../../../CANHCAM-LIB/nav/n-7/index.pug
	//- include ../../../CANHCAM-LIB/slider/s-1/index.pug
	//- include ../../../CANHCAM-LIB/shop/s-1/index.pug
	//- include ../../../CANHCAM-LIB/shop/s-2/index.pug
	//- include ../../../CANHCAM-LIB/shop/s-3/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-6/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-7/index.pug
	//- include ../../../CANHCAM-LIB/tagline/t-11/index.pug
	//- include ../../../CANHCAM-LIB/tagline/t-10/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-10/index.pug
