extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-8/index.pug
block body
	//- include ../../../CANHCAM-LIB/gallery/g-1/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-2/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-3/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-4/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-5/index.pug
	include ../../../CANHCAM-LIB/form/f-8/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-7/index.pug
	//- include ../../../CANHCAM-LIB/carousel/c-5/index.pug
	//- include ../../../CANHCAM-LIB/carousel/c-6/index.pug
	//- include ../../../CANHCAM-LIB/carousel/c-7/index.pug
	//- include ../../../CANHCAM-LIB/news/n-4/index.pug
	//- include ../../../CANHCAM-LIB/news-details/n-1/index.pug
	//- include ../../../CANHCAM-LIB/form/f-7/index.pug
	//- include ../../../CANHCAM-LIB/shop/s-4/index.pug
	//- include ../../../CANHCAM-LIB/slider/s-4/index.pug
	//- include ../../../CANHCAM-LIB/slider/s-5/index.pug
	//- include ../../../CANHCAM-LIB/news/n-3/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-4/index.pug

block footer
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
