extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	//- include ../../../CANHCAM-LIB/header/h-9/index.pug
block body
	//- include ../../../CANHCAM-LIB/banner/b-1/index.pug
	//- include ../../../CANHCAM-LIB/news/n-3/index.pug
	//- include ../../../CANHCAM-LIB/gallery/g-4/index.pug

	.container
		.row
			.col-md-3 
				ul
					li jhgsasg hgj jg
					li jhgsasg hgj jg
					li jhgsasg hgj jg
					li jhgsasg hgj jg
					li jhgsasg hgj jg
			.col-md-9 Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quisquam explicabo ipsa ea expedita laborum aspernatur, voluptates consequuntur doloribus deleniti quaerat eligendi soluta magnam. Eius facere at eveniet debitis. Minus?
				.row 
					.col-4 cshfdfh df
					.col-4 
						.row 
							.col-3 FGD
							.col-9 AAAA
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
					.col-4 cshfdfh df
		

block footer
	//- include ../../../CANHCAM-LIB/footer/f-7/index.pug
