extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index-3"
	- var description = "Description for index-3 page"
	- var bodyclass = "index-3"
	- var href = "/index-3.html"
block header
	include ../../../CANHCAM-LIB/header/h-4/index.pug
block body
	include ../../../CANHCAM-LIB/welcome/w/index.pug
	include ../../../CANHCAM-LIB/form/f-1/index.pug
	include ../../../CANHCAM-LIB/map/m-1/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
