extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-11/index.pug
block body
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure est quidem quibusdam saepe in a illo praesentium sapiente minima quas! Quis ea assumenda magnam quasi minus repudiandae libero voluptatum repellendus.
block footer
	include ../../../CANHCAM-LIB/footer/f-10/index.pug
