extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index-2"
	- var description = "Description for index-2 page"
	- var bodyclass = "index-2"
	- var href = "/index-2.html"
block header
	include ../../../CANHCAM-LIB/header/h-3/index.pug
block body
	include ../../../CANHCAM-LIB/news/n-3/index.pug
	include ../../../CANHCAM-LIB/carousel/c-3/index.pug
	include ../../../CANHCAM-LIB/gallery/g-3/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
