extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-1/index.pug
block body
	//- include ../../../CANHCAM-LIB/banner/b-1/index.pug
	//- include ../../../CANHCAM-LIB/shop/s-5/index.pug
	include ../../../CANHCAM-LIB/form/f-5/index.pug

block footer
	include ../../../CANHCAM-LIB/footer/f-3/index.pug
