extends ../../../core/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../core/CANHCAM-LIB/header/h-5/index.pug
block body
	include ../../../core/CANHCAM-LIB/carousel/c-1/index.pug
	include ../../../core/CANHCAM-LIB/carousel/c-2/index.pug
	include ../../../core/CANHCAM-LIB/carousel/c-3/index.pug
	include ../../../core/CANHCAM-LIB/gallery/g-1/index.pug
	include ../../../core/CANHCAM-LIB/gallery/g-2/index.pug
	include ../../../core/CANHCAM-LIB/gallery/g-3/index.pug
	include ../../../core/CANHCAM-LIB/shop/s-1/index.pug
	include ../../../core/CANHCAM-LIB/shop/s-2/index.pug
	include ../../../core/CANHCAM-LIB/news/n-1/index.pug
	include ../../../core/CANHCAM-LIB/news/n-2/index.pug
	include ../../../core/CANHCAM-LIB/news/n-3/index.pug
	include ../../../core/CANHCAM-LIB/map/m-1/index.pug
	include ../../../core/CANHCAM-LIB/form/f-1/index.pug
block footer
	include ../../../core/CANHCAM-LIB/footer/f-1/index.pug
