extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../../../CANHCAM-LIB/header/h-2/index.pug
block body
	include ../../../CANHCAM-LIB/news/n-1/index.pug
	include ../../../CANHCAM-LIB/carousel/c-1/index.pug
	include ../../../CANHCAM-LIB/form/f-1/index.pug
	include ../../../CANHCAM-LIB/map/m-1/index.pug
	include ../../../CANHCAM-LIB/gallery/g-1/index.pug
	include ../../../CANHCAM-LIB/carousel/c-2/index.pug
block footer
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
