footer.canhcam-footer-9(bg-img='./img/bg/footer-bg.png')
	.canhcam-sub
		.container
			.row
				.col
					.sub.d-flex.justify-content-center.align-items-center.text-center(bg-img='./img/bg/sub-3.jpg')
						form
							.form-group.mb-4.mb-md-0
								label Đăng ký nhận bản tin
							.form-group.mx-md-3.mb-4.mb-md-0
								.input-group
									input.form-control(type='text', placeholder="Recipient's username", aria-label="Recipient's username", aria-describedby='basic-addon2')
									.input-group-append
										button.btn.btn-outline-secondary(type='button') Button
							.socials
								ul.list-inline.text-center.text-md-left
									li.list-inline-item
										a(href='https://www.linkedin.com/baonguyenyam', target='_blank')
											i.fab.fa-linkedin(ga-action-click='', data-value='Linkedin', data-label='Linkedin', data-action='Linkedin')
									li.list-inline-item
										a(href='https://www.facebook.com/baonguyenyam', target='_blank')
											i.fab.fa-facebook-f(ga-action-click='', data-value='Facebook', data-label='Facebook', data-action='Facebook')

	.linkfooter
		.container
			.row
				.col-md-12.col-lg-4
					h4.text-center.text-md-left Giới thiệu
					p Lô C, Đường Lê Lợi, Phường Hòa Phú, TP. Thủ Dầu Một, Bình Dương
					p Tel: (0274) 3554 999 - Fax: (0274) 3567 960 - Email: info@diaockimoanh.com.vn
					p.mb-0 Hotline: 0988.12.12.12
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Giới thiệu
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Giới thiệu
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Giới thiệu
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
	.copyright
		.container
			.row.align-items-center
				.col-md.text-center.text-md-left.mb-4.mb-md-0
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Điều kiện & Điều khoản
						.list-group-item
							a(href="#") Chính sách bảo mật
						.list-group-item
							a(href="#") Sitemap
				.col-md-auto.text-center.text-md-right 2018 by Canh Cam. All right reserved. designed by Canh Cam
