footer.canhcam-footer-13(bg-img="./img/bg/bg-circle.png")
	.canhcam-sub
		.container
			.row.info
				.col-lg-3.text-center.text-lg-left
					h5.h4 Đăng ký nhận bản tin
				.col-lg-6.text-center.text-lg-left.subscribe
					form.validator.d-flex.justify-content-center
						.form-group.d-flex.w-100.mb-0
							input#email.form-control(type='email', pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", placeholder='Nhập email', data-error="Vui lòng nhập thông tin", required)
							button.btn.btn-primary.rounded-0(type='submit')
								i.fas.fa-envelope.mr-2
								| Gửi
				.col-lg-3.text-center.text-lg-left.mt-3.mt-lg-0.subsocial
					ul.d-flex.list-none.mb-0
						li
							a.fab.fa-facebook-f(href="")
						li
							a.fab.fa-google-plus-g(href="")
						li
							a.fab.fa-twitter(href="")
						li
							a.fab.fa-youtube(href="")
	.footer-content
		.container
			.lines
			.row.justify-content-between
				.col-lg-3.col-md-6.mt-3.mt-lg-0
					.footer-nav
						h6.text-left Liên hệ
						nav.list-group.text-left
							.list-group-item
								a(href="#")
									i.fa.fa-map-marker
									|  10 Đường số 79, Tân Quy, 7, Tp.HCM
							.list-group-item
								a.d-flex(href="#")
									i.fa.fa-phone
									ul.list-none
										li +84 283 775 4680
										li +84 283 775 4681
							.list-group-item
								a(href="#")
									i.fa.fa-envelope
									|  cus_service@bizami.com.vn
							.list-group-item
								a(href="#")
									i.fa.fa-globe
									|  www.bizami.com.vn
				.col-lg-3.col-md-6.mt-3.mt-lg-0
					.footer-nav
						h6.text-left Dịch vụ
						nav.list-group.text-left
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Hệ Thống điện
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Hệ thống điện nhẹ
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Hệ thống điều hòa không khí
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Hệ thống cấp thoát nước
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Hệ thống PCCC
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Công nghệ thông tin
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Tư vấn, thiết kế giám sát hệ thống M&E
				.col-lg-3.col-md-6.mt-3.mt-lg-0
					.footer-nav
						h6.text-left Sản phẩm
						nav.list-group.text-left
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Belden
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Deta Rack
				.col-lg-3.col-md-6.mt-3.mt-lg-0
					.footer-nav
						h6.text-left LIÊN KẾT Nhanh
						nav.list-group.text-left
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Giới thiệu
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Dự án
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Đối tác
							.list-group-item
								a(href="#")
									i.fa.fa-angle-double-right
									| Tin tức - Sự kiện
	.copy-right
		.container
			.row
				.col-12.text-center
					span © 2018 ABC. all right reserved. designed by canhcam.
