footer.canhcam-footer-13
	.listmenu
		.container
			.row
				.col-lg-3.col-md-6.item
					h3 Giới thiệu
					nav.list-group
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tổng quan
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Lich sử phát triển
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tầm nhìn - Sứ mệnh
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Văn hoá doanh nghiệp
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Điều lệ & Quy chế quản trị công ty
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Bộ máy tổ chức
				.col-lg-3.col-md-6.item
					h3 Lĩnh vực hoạt động
					nav.list-group
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Xuất nhập khẩu dầu thô và kinh doanh dầu quốc tế
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Kinh doanh phân phối các sản phẩm dầu
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Sản xuất chế biến xăng dầu, dầu mỡ nhờn, nhiên liệu sinh học
				.col-lg-3.col-md-6.item
					h3 Quan hệ cổ đông
					nav.list-group
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Công bố thông tin
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Đại hội đồng cổ đông
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Báo cáo thường niên
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Báo cáo quản trị
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Báo cáo tài chính
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tin cổ đông
				.col-lg-3.col-md-6.item
					h3 Truyền thông
					nav.list-group
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tin PVOIL
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tin liên quan
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Thông báo quỹ bình ổn giá
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Tin giá xăng dầu
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Thông cáo báo chí
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Video
						.list-group-item
							a(href="#") 
								span.lnr.lnr-chevron-right.mr-2
								| Poster quảng cáo
	.footer-content
		.container
			.row.justify-content-between
				.col-lg-8
					.slogan.text-center.text-lg-left.d-lg-flex
						.logo
							a.mb-4(href="")
								img(src="./img/logo-ang.png", alt="logo")
						.quote.mb-4.mb-md-0
							h6.h6 Tổng công ty Dầu Việt Nam - CTCP
							.text
								p.mb-0 Tầng 14-18 Toà nhà PetroVietnam Tower | Số 1-5 Lê Duẩn, Phường Bến Nghé, Quận 1, TpHCM
								p.mb-0 Điện thoại: (84 - 28) 39106990 
								p.mb-0 Fax: (84 - 28) 39106980
				.col-lg-4.social.text-center.text-lg-left.mt-4.mt-lg-0
					h6.h6 Liên kết nhanh
					ul.list-inline
						li.list-item
							a(href='#')
								i.fas.fa-mobile-alt
						li.list-item
							a(href='#')
								i.fab.fa-facebook-f
						li.list-item
							a(href='#')
								i.fab.fa-youtube
						li.list-item
							a(href='#')
								i.fab.fa-google-plus-g
						li.list-item
							a(href='#')
								i.fas.fa-comment
	.container
		.copy-right
			.bottom.d-md-flex.text-center.text-md-left
				.bottom-menu
					a(href="#") Điều khoản & Điều kiện sử dụng
					a(href="#") Sitemap
				.copy.mt-4.mt-md-0
					p.mb-0 Copyright © 2018 PVOIL. All right reserved. Designed by 
						a(href="#") Cánh Cam.
