doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title=title
		style(type='text/css').
			body { text-align: center;font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;color: #222;background: #fff; }
			img { margin: 30px 0 30px;}
			a { color: #705AB2; text-decoration: none;}
			h1 { color: #000; font-size: 48px; margin: 0;}
			p { color: #000; font-size: 18px; margin: 6px 0 0 0;}
	body
		figure
			img(src="/img/notfound.png", alt="alt")
			figcaption 
		h1=title
		h3=desc
		a(href='/')=btn