<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/framework/css/bootstrap.min.css">
	<link rel="stylesheet" href="/framework/css/fa-brands.css">
	<link rel="stylesheet" href="/framework/css/fa-regular.css">
	<link rel="stylesheet" href="/framework/css/fa-solid.css">
	<link rel="stylesheet" href="/framework/css/fontawesome.css">
	<link rel="stylesheet" href="/framework/css/materialdesignicons.css">
	<link rel="stylesheet" href="/css/iframe.css">
	<script src="/framework/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/framework/js/popper.min.js"></script>
	<script src="/framework/js/bootstrap.min.js"></script>
	<script src="/js/lock.js"></script>

</head>

<body>

	<div id="listWithHandle">

	</div>

</body>

</html>