section.canhcam-boxes-6
	.container
		.row
			.col
				.boxes
					.boxes-title 
						.row.d-flex.align-items-center
							.col-md-auto
								h2 Thiết bị gia dụng
							.col-md.justify-content-end.d-flex
								ul.nav.align-items-end(data-select)
									li.nav-item
										a.nav-link(href="#", title="title") Menu 001
									li.nav-item
										a.nav-link(href="#", title="title") Menu 001
									li.nav-item
										a.nav-link(href="#", title="title") Menu 001
									li.nav-item
										a.nav-link(href="#", title="title") Menu 001
									li.nav-item.active
										a.nav-link(href="#", title="title") 
											| Xem tất cả
											i.mdi.mdi-chevron-right
									
					.boxes-content 
						.row 
							.col-md-4.col-lg-3
								article.owl-carousel.owl-theme.list-items
									.item
										a(href='#')
											img(src='./img/slider/slider-hight-01.png', alt='')
									.item
										a(href='#')
											img(src='./img/slider/slider-hight-02.png', alt='')
									.item
										a(href='#')
											img(src='./img/slider/slider-hight-01.png', alt='')
									.item
										a(href='#')
											img(src='./img/slider/slider-hight-02.png', alt='')
							.col-md-8.col-lg-9
								article.owl-carousel.owl-theme.product-items
									.item
										a(href='#')
											figure
												img.img-fluid(src='./img/product/01.jpg', alt='')
												figcaption
													h3 Lorem ipsum dolor si ipsum dolor sit  dolor si ipsum dolor sit  dolor si ipsum dolor sit 
													.code 57NBHJH9
													.old-price 
													.price $15.68
													.noted 
									.item
										a(href='#')
											figure
												img.img-fluid(src='./img/product/02.jpg', alt='')
												figcaption
													h3 Lorem ipsum dolor sit 
													.code 57NBHJH9
													.old-price $8000
													.price $15.68
													.noted Lorem ipsum dolor sit amet consectetur adipisicing elit.
									.item
										a(href='#')
											figure
												img.img-fluid(src='./img/product/03.jpg', alt='')
												figcaption
													h3 Lorem ipsum dolor sit 
													.code
													.old-price $8000
													.price $15.68
													.noted Lorem ipsum dolor sitcing elit.
									.item
										a(href='#')
											figure
												img.img-fluid(src='./img/product/04.jpg', alt='')
												figcaption
													h3 Lorem ipsum dolor sit 
													.code 57NBHJH9
													.old-price $8000
													.price $15.68
													.noted Lorem ipsum dolor sit amet consectetur adipisicing elit.
									