footer.canhcam-footer-12
	.container
		.row.footer-list.text-center
			.col-12
				a.flogo(href="#")
					img.img-fluid(src="./img/logo.png", alt="")
				.fsocial-list
					ul.d-flex.justify-content-center
						li
							a(href="")
								i.fab.fa-facebook-f
						li
							a(href="")
								i.fab.fa-twitter
						li
							a(href="")
								i.fab.fa-google-plus-g
						li
							a(href="")
								i.fab.fa-youtube
				.copyright
					span 2018 by Canh Cam. All right reserved. designed by Canh Cam