section.canhcam-slider-3
	.row.no-gutters
		.col-lg-4.col-xl-3.order-lg-2.news-list
			h2.text-center.text-lg-left Dự án 
				span nổi bật 
			a(href="#", title="title").block-details 
				h3 Nhà hàng Lạc Nam
				p.muted 156 Bùi Thị Xuân, Đà Lạt
				p.mb-0 Nhà hàng - Khách sạn Lạc Nam tọa lạc ngay vị trí đắc địa của Resort, là biểu tượng, là điểm đón tiếp đầu tiên của Khu nghỉ dưỡng Lạc Nam

		.col-lg-8.col-xl-9.order-lg-1
			.list-thumb.list-items
				.item(bg-img-responsive="./img/ac/home-banner-1.png", bg-img-responsive-sm="./img/ac/home-banner-1.png", bg-img-responsive-xs="./img/ac/home-banner-1.png")
				.item(bg-img="./img/ac/home-banner-2.png")
				.item(bg-img="./img/ac/home-banner-3.png")
					
