section.canhcam-boxes-17(bg-img='./img/bg/sub-3.jpg')
	.container
		.feature
			.row
				.col-xs-12.col-md-4.item
					.feature-col
						figure
							.icon
								em.fas.fa-truck
							figcaption
								p.title Giao hàng
								p.title Toàn quốc
				.col-xs-12.col-md-4.item
					.feature-col
						figure
							.icon
								em.fas.fa-money-bill-alt
							figcaption
								p.title Bảo hành quốc tế
								p.des Theo chính sách của nhãn hàng
				.col-xs-12.col-md-4.item
					.feature-col
						figure
							.icon
								em.fas.fa-phone
							figcaption
								p.title Hotline miễn phí
								p.des 18006360
