section.canhcam-carousel-3
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Lorem
	article.news-list
		.container
			.row
				.col
					.owl-carousel
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANN SPRING 2017  COLLECTION
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
									p Lorem, ipsum dolor sit ametitis.
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANN SPRING 2017  COLLECTION
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
						a.item(href="#")
							figure
								img.img-fluid(src="./img/news/img-02.png", alt="alt")
								figcaption
									time 12/12/2017
									h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
									p Lorem, ipsum dolor sit ametitis.
