section.canhcam-shop-details-4
	article.product-details
		.container
			.row.d-flex
				.col-12.col-md-6
					.productimg-slide
						.slidewrap.d-sm-flex
							h3.product-name Vali kéo Emper
							.promotion.new New 50%
							.product-slide.order-sm-2
								.item
									a(href="./img/product/01.jpg")
										img.img-fluid.w-100(src="./img/product/01.jpg", alt="")
								.item
									a(href="./img/product/02.jpg")
										img.img-fluid.w-100(src="./img/product/02.jpg", alt="")
								.item
									a(href="./img/product/03.jpg")
										img.img-fluid.w-100(src="./img/product/03.jpg", alt="")
								.item
									a(href="./img/product/04.jpg")
										img.img-fluid.w-100(src="./img/product/04.jpg", alt="")
								.item
									a(href="./img/product/03.jpg")
										img.img-fluid.w-100(src="./img/product/03.jpg", alt="")
								.item
									a(href="./img/product/04.jpg")
										img.img-fluid.w-100(src="./img/product/04.jpg", alt="")
							.product-nav.order-sm-1
								.item
									img.img-fluid.w-100(src="./img/product/01.jpg", alt="")
								.item
									img.img-fluid.w-100(src="./img/product/02.jpg", alt="")
								.item
									img.img-fluid.w-100(src="./img/product/03.jpg", alt="")
								.item
									img.img-fluid.w-100(src="./img/product/04.jpg", alt="")
								.item
									img.img-fluid.w-100(src="./img/product/03.jpg", alt="")
								.item
									img.img-fluid.w-100(src="./img/product/04.jpg", alt="")
				.col-12.col-md-6
					section.product-info
						.product-brand Samsonite
						h1.product-name Vali kéo Niar
						.product-category.mb-2.mb-lg-4 Đại 78cm/29inch TSA
						.product-price.d-flex.mb-3.mb-lg-4
							.new 9.200.000 ₫
							.old 5.300.000 ₫
						.product-option
							.product-color
								.label.mb-2 Màu sắc
								.color-select
									.item
										.color.active
											a(href="#").color-1
									.item
										.color
											a(href="#").color-2
									.item
										.color
											a(href="#").color-3
							.product-size
								.label.mb-2 Kích thước
								ul
									li.size
										a(href="#").link-size.active Cabin 57cm/20inch TSA
									li.size
										a(href="#").link-size Cabin 57cm/20inch TSA
									li.size
										a(href="#").link-size Cabin 57cm/
						.input-number
							input(value="1")
						.btn-wrap
							a(href="#").btn.btn-buy Cho vào giỏ hàng
							a(href="#").btn.btn-wishlist
								em.fas.fa-heart
						.product-overview
							.content
								ul
									li Kiểu dáng hiện đại
									li Kiểu dáng hiện đại
									li Kiểu dáng hiện đại
									li Kiểu dáng hiện đại
									li Kiểu dáng hiện đại
						.share
							.label SHARE:
							a(href="#")
								em.fab.fa-facebook-f
							a(href="#")
								em.fab.fa-twitter
							a(href="#")
								em.fab.fa-google-plus-g
				.col
					section.product-description
						nav.nav.nav-tabs(role="tablist")
							a#tab1-tab.nav-link.active.nav-item(data-toggle="tab" href="#tab1" role="tab" aria-controls="nav-home-tab" aria-selected="true") Mô tả
							a#tab2-tab.nav-link.nav-item(data-toggle="tab" href="#tab2" role="tab" aria-controls="nav-profile-tab" aria-selected="false") Thông số kỹ thuật
						.tab-content
							#tab1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
								.content
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla, recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.
							#tab2.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab") Eveniet nulla, recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.