extends templates/_layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include core/header/h-5/index.pug
block body
	include core/carousel/c-1/index.pug
	include core/carousel/c-2/index.pug
	include core/carousel/c-3/index.pug
	include core/gallery/g-1/index.pug
	include core/gallery/g-2/index.pug
	include core/gallery/g-3/index.pug
	include core/shop/s-1/index.pug
	include core/shop/s-2/index.pug
	include core/news/n-1/index.pug
	include core/news/n-2/index.pug
	include core/news/n-3/index.pug
	include core/map/m-1/index.pug
	include core/form/f-1/index.pug
block footer
	include core/footer/f-1/index.pug
