section.canhcam-breadcrumb-5
	.container
		.row
			.col
				ul.bullets
					li.bullet-wrapper.active
						span.num 1
						span.title Giỏ hàng
					li.bullet-wrapper.active
						span.num 2
						span.title Đăng nhập
					li.bullet-wrapper.active
						span.num 3
						span.title Thông tin
					li.bullet-wrapper
						span.num 4
						span.title Thanh toán
