
section.canhcam-gallery-8
	article.gallery-details
		.container
			.row.mb-4
				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam

				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam

				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam

				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam

				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam

				.col-sm-6.col-lg-4.item
					figure.text-center
						.boxzoom
							img.img-fluid(src="./img/news/img-07.jpg", alt="Demo title")
							.hidden
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
								a(href="./img/news/img-07.jpg")
									img(src="./img/news/img-07.jpg", alt="Demo title")
						figcaption
							.text
								h3 Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam Nhà hàng Lạc Nam



		.container-fluid
			.row.pagelist
				.col.d-flex.align-items-center.justify-content-center.justify-content-md-end
					ul.pagination
						li.page-item
							a.page-link(href="#", title="title")
								i.fa.fa-chevron-left
						li.page-item
							a.page-link(href="#", title="title") 1
						li.page-item.active
							a.page-link(href="#", title="title") 2
						li.page-item
							a.page-link(href="#", title="title") 3
						li.page-item
							a.page-link(href="#", title="title") 4
						li.page-item
							a.page-link(href="#", title="title")
								i.fa.fa-chevron-right
