section.canhcam-map-2
	article#form-map-1
		.container
			.row
				.col
					h3.h3 Cty AAA
					p.address Địa chỉ: Lầu 3,  Trần Não, Phường, Phường Bình An, Quận 2, Tp. HCM, Việt Nam
					p.tel Tel: (84) - 8 6296 0685 - Fax: (84) - 8 3744 2288 - Email: info@ritavo.com
					p.hotline Hotline:
						span 1800 1246
				.col-auto
					a.btn.btn-primary(data-toggle="collapse" href="#collapse-form-map-1" role="button" aria-expanded="false" aria-controls="collapse-form-map-1")
						i.fa.fa-map-marker-alt.mr-2
						| View map
			#collapse-form-map-1.collapse
				.card
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.7853713842974!2d105.8175534!3d21.0012389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac852d847093%3A0x15431e84b98305be!2zNzIgTmd1eeG7hW4gVHLDo2ksIE5nw6MgVMawIFPhu58sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1422267118040" frameborder="0" style="border: 0px;")
	article#form-map-2
		.container
			.row
				.col
					h3.h3 Cty AAA
					p.address Địa chỉ: Lầu 3,  Trần Não, Phường, Phường Bình An, Quận 2, Tp. HCM, Việt Nam
					p.tel Tel: (84) - 8 6296 0685 - Fax: (84) - 8 3744 2288 - Email: info@ritavo.com
					p.hotline Hotline:
						span 1800 1246
				.col-auto
					a.btn.btn-primary(data-toggle="collapse" href="#collapse-form-map-2" role="button" aria-expanded="false" aria-controls="collapse-form-map-2")
						i.fa.fa-map-marker-alt.mr-2
						| View map
			#collapse-form-map-2.collapse
				.card
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.7853713842974!2d105.8175534!3d21.0012389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac852d847093%3A0x15431e84b98305be!2zNzIgTmd1eeG7hW4gVHLDo2ksIE5nw6MgVMawIFPhu58sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1422267118040" frameborder="0" style="border: 0px;")
	article#form-map-3
		.container
			.row
				.col
					h3.h3 Cty AAA
					p.address Địa chỉ: Lầu 3,  Trần Não, Phường, Phường Bình An, Quận 2, Tp. HCM, Việt Nam
					p.tel Tel: (84) - 8 6296 0685 - Fax: (84) - 8 3744 2288 - Email: info@ritavo.com
					p.hotline Hotline:
						span 1800 1246
				.col-auto
					a.btn.btn-primary(data-toggle="collapse" href="#collapse-form-map-3" role="button" aria-expanded="false" aria-controls="collapse-form-map-3")
						i.fa.fa-map-marker-alt.mr-2
						| View map
			#collapse-form-map-3.collapse
				.card
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.7853713842974!2d105.8175534!3d21.0012389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac852d847093%3A0x15431e84b98305be!2zNzIgTmd1eeG7hW4gVHLDo2ksIE5nw6MgVMawIFPhu58sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1422267118040" frameborder="0" style="border: 0px;")
