footer.canhcam-footer-6(bg-img='./img/bg/footer-bg.png')
	.linkfooter
		.container
			.row
				.col-md-12.col-lg-4
					h4.text-center.text-md-left Product
					p.mb-0 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam iste exercitationem nisi rerum voluptatem possimus sequi hic reiciendis harum officia earum sunt quae molestiae fugit, eos dignissimos aspernatur explicabo! Eaque!
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
	.copyright
		.container
			.row.align-items-center
				.col-md.text-center.text-md-left.mb-4.mb-md-0
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile lorem hh
						.list-group-item
							a(href="#") Caps jgj g g gg
						.list-group-item
							a(href="#") Golf Bags
				.col-md-auto.text-center.text-md-right 2018 by Canh Cam. All right reserved. designed by Canh Cam
