section.canhcam-boxes-13
	.container
		.home-promotion-inner(bg-img="./img/bg/big-1.jpg")
			.row
				.col-md-8.col-lg-6
					.home-promotion-content
						h2.h2.mb-3 Chương trình khuyến mãi
						p Cùng với nhiều chiết khấu và ưu đãi hấp dẫn, Tutto luôn sẵn sàng đồng hành cùng bạn trên mọi chặng đường.
						a.totto-btn.btn.btn-primary Xem thêm
