header.canhcam-header-1.bg-light
	nav.navbar.navbar-expand-lg.navbar-light.container
		a.navbar-brand(href='#') Navbar
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ccHeader1', aria-controls='ccHeader1', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#ccHeader1.collapse.navbar-collapse
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
				li.nav-item.active
					a.nav-link(href='#')
						| Home
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Link
				li.nav-item
					a.nav-link.disabled(href='#') Disabled
			form.form-inline.my-2.my-lg-0
				input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
				button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
