section.canhcam-banner-2
	article.list-items
		.item(bg-img="./img/slider/slider-1.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
		.item(bg-img="./img/slider/slider-2.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
				p
					a.btn.btn-primary.btn-lg(href="#") Read more
