section.canhcam-nav-3
	ul.nav
		li.nav-item.active
			a.nav-link(href='#')
				em.fas.fa-compass
				| Xem hướng
		li.nav-item
			a.nav-link(href='#')
				em.fas.fa-calculator
				| Tính lãi suất
		li.nav-item
			a.nav-link(href='#')
				em.fas.fa-map
				| Kiểm tra quy hoạch
		li.nav-item
			a.nav-link(href='#')
				em.fas.fa-map-marker-alt
				| Đăng ký tham quan