section.canhcam-slider-6
	.container 
		.row 
			.col 
				.swiper-container
					.swiper-wrapper
						.swiper-slide(data-hash="slide1", bg-img="./img/news/img-07.jpg")
						.swiper-slide(data-hash="slide2", bg-img="./img/news/img-08.jpg")
						.swiper-slide(data-hash="slide3", bg-img="./img/news/img-09.jpg")
					//- .swiper-pagination
				.swiper-button-next
				.swiper-button-prev
				.swiper-button-next-thumb
				.swiper-button-prev-thumb
	.container 
		.row
			.col
				ul.swiper-nav.nav.nav-pills.justify-content-center.mt-4
					li.nav-link(slide-to="0") 1
					li.nav-link(slide-to="1") 2
					li.nav-link(slide-to="2") 3

