section.canhcam-pagination-1
	.container
		.row.pagelist
			.col.d-flex.align-items-center.justify-content-center.justify-content-md-end
				ul.pagination
					li.page-item
						a.page-link(href="#", title="title")
							i.fa.fa-chevron-left
					li.page-item
						a.page-link(href="#", title="title") 1
					li.page-item.active
						a.page-link(href="#", title="title") 2
					li.page-item
						a.page-link(href="#", title="title") 3
					li.page-item
						a.page-link(href="#", title="title") 4
					li.page-item
						a.page-link(href="#", title="title")
							i.fa.fa-chevron-right
