section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						time 12/12/2017
						h1 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
						hr
						p.lead Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Undt consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Undt consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?
						.card.mb-3.bg-light
							.card-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. In accusamus, atque illum voluptates voluptatibus exercitationem asperiores maiores omnis id quo, eum blanditiis? Animi ratione delectus magni, quam illum repellendus quibusdam.
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?
						ul.list-unstyled
							li - Item 01
							li - Item 02
							li - Item 03
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?ß
						p
							a.item-news-read(href="./img/news/designer.jpg")
								figure
									img.img-fluid.img-thumbnail(src="./img/news/designer.jpg", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									figcaption Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?ß
						ul
							li Item 01
							li Item 02
							li Item 03
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?
						ol
							li Item 01
							li Item 02
							li Item 03
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?ß
						p
							a.item-news-read(href="./img/news/img-04.jpg")
								figure
									img.img-fluid.img-thumbnail(src="./img/news/img-04.jpg", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									figcaption Lorem ipsum dolor, sit amet consectetur adipisicing elit.

						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?ß
						.card.mb-3.bg-info.text-white
							.card-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. In accusamus, atque illum voluptates voluptatibus exercitationem asperiores maiores omnis id quo, eum blanditiis? Animi ratione delectus magni, quam illum repellendus quibusdam.
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ab eos ut dolor rerum natus nostrum mollitia id iste velit saepe at possimus fuga dolorem, nemo suscipit quas cupiditate. Unde?ß
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-4
					.othernews(data-fix="50", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										time 12/12/2017
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										time 12/12/2017
										h3 golf-etc EXPum dolor sit amet consecteANDS REFLECTIVE TECHNOLOGY
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										time 12/12/2017
										h3 golf-etc EVE TECHNOLOGY
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										time 12/12/2017
										h3 golf-etcum dolor sit amet consecteum dolor sit amet consecte EXPANDS REFLECTIVE TECHNOLOGY
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										time 12/12/2017
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
