@import ../../_includes
//////////////////////////////////////
// CODE
//////////////////////////////////////

.canhcam-news-details-1
	+pad(2rem 0)
	+media-breakpoint-up(lg)
		+pad(4rem 0)
	.news-read
		text-align: start
		margin-bottom: 2rem
		h1
			+fz(1.5rem)
			+fw(400)
		hr
			border-top: 1px dashed darken(color-get($mau,trang) ,10%)
		p
			+fz(1.1rem)
			+fw(400)
			&.lead
				+fw(bold)
		time
			+fz(.9rem)
			+fw(200)
			color: darken(color-get($mau,trang) ,10%)
		.item-news-read
			text-decoration: none
			figcaption
				font-style: italic
				color: darken(color-get($mau,trang) ,50%)
		.social-networks
			.nav-item
				margin-right: .5rem
				&:last-child
					margin-right: 0
	.othernews
		+bor-rad(5px)
		overflow: hidden
		width: 100%
		hr
			border-top: 1px dashed darken(color-get($mau,trang) ,10%)
		h2
			color: color-get($mau,main)
			+fz(1.4rem)
			margin-bottom: 0
		h3
			color: color-get($mau,main)
			+fz(1.4rem)
			margin-bottom: 0
		.lists
			.item
				display: flex
				text-decoration: none
				height: 100%
				+bor-rad(5px)
				overflow: hidden
				&:last-child
					figure
						margin-bottom: 1rem
				&:first-child
					figure
						margin-top: 1rem
				figure
					position: relative
					overflow: hidden
					+bor-rad(5px)
					margin-bottom: 2rem
					background: darken(color-get($mau,trang) ,3%)
					img
						+bor-rad(5px 5px 0 0)
						width: 100%
					figcaption
						padding: 1rem

						h3
							+fz(1.1rem)
							+fw(400)
							color: color-get($mau,main)
						time
							+fz(.9rem)
							+fw(200)
							color: darken(color-get($mau,trang) ,30%)
						p
							color: darken(color-get($mau,trang) ,60%)
							line-height: 1.3rem
							+fz(1rem)
							margin-bottom: 0
				&:hover
					figure
						background: darken(color-get($mau,trang) ,7%)
						img
							+opacity(.7)
						figcaption
							h3
								color: darken(color-get($mau,extra),0%)
							time
								color: darken(color-get($mau,trang) ,20%)
							p
								color: darken(color-get($mau,trang) ,70%)
		+media-breakpoint-up(lg)
			background: darken(color-get($mau,trang) ,4%)
			hr
				display: none
			h2
				background: color-get($mau,main)
				color: color-get($mau,trang)
				+pad(1rem)
				+bor-rad(5px 5px 0 0)
			.lists
				+pad(1rem)
				.item
					border-bottom: 1px dashed darken(color-get($mau,trang) ,10%)
					margin-bottom: 1rem
					&:last-child
						border-bottom: 0
						margin-bottom: 0

					figure
						background: none
						display: flex
						align-items: flex-start
						width: 100%
						min-height: 80px
						margin-bottom: 1rem
						.thumb
							display: block
							height: 100%
							+pos(abs, 0 null null 0)
							width: 30%
							max-width: 30%
							+bor-rad(5px)
						img
							display: none
						figcaption
							+pad(0 0 0 calc(30% + 1rem))
							p
								display: none
					&:hover
						figure
							background: none
							.thumb
								+opacity(.7)
