
section.canhcam-gallery-5
	article.gallery-details
		.row.mb-4
			.col
				.gallery-lists#gallery-lists
					a.item(data-fancybox="gallery", href="./img/news/landing-4.jpg", data-caption="Nhà hàng Lạc Nam")
						figure(bg-img="./img/news/landing-4.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-4.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/landing-2.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/landing-2.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-2.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="https://www.youtube.com/watch?v=3oU4fGSMGcI")
						figure(bg-img="./img/news/img-09.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-09.jpg", alt="Demo title")
							figcaption
								.text
									h3 Ẩn Control của youtube
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/img-08.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/img-08.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-08.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/landing-3.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/landing-3.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-3.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/img-05.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/img-05.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-05.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/img-06.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/img-06.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/landing-1.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/landing-1.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/landing-1.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/designer.jpg", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/designer.jpg")
							.boxzoom
								img.img-fluid(src="./img/news/designer.jpg", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
					a.item(data-fancybox="gallery", href="./img/news/feature10.png", data-caption="TÌm hiểu về HTML")
						figure(bg-img="./img/news/feature10.png")
							.boxzoom
								img.img-fluid(src="./img/news/feature10.png", alt="Demo title")
							figcaption
								.text
									h3 Nhà hàng Lạc Nam
									p 156 Bùi Thị Xuân, Đà Lạt
								span See more
