section.canhcam-gallery-1
	article.gallery-details
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-4
					a.item(href="./img/news/landing-4.jpg")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/landing-4.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
				.col-sm-6.col-lg-4
					a.item(href="./img/news/landing-2.jpg")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/landing-2.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-09.jpg")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-09.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-08.jpg")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-08.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-06.jpg")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-06.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
				.col-sm-6.col-lg-4
					a.item(href="./img/news/img-02.png")
						figure
							.fa.fa-search.zoom-item
							.boxzoom
								img.img-fluid(src="./img/news/img-02.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
