section.canhcam-gallery-1
	article.product-details
		.container
			.row.d-flex
				.col-md-4.order-md-2.mb-4.infomation
					h1 Nike Dri-Fit 1/2-Zip Top 639883 1/2-Zip Top 639883
					.price $ 45,22
					hr
					.html Nike Golf Shirt with zip-up collar up to the chin in Dri-FIT sweat-wicking fabric Stretch inserts Contrasting details Body: Dri-FIT 100% polyester Upper body: 90% polyester, 10% elastane Machine washable
					hr
					h3.h3 COLOR
					label.checkbox-styled
						input(type='checkbox', name='happy', value='happy', checked='')
						span XL
					label.checkbox-styled
						input(type='checkbox', name='sad', value='sad')
						span.sad XXXL
					label.checkbox-styled
						input(type='checkbox', name='sdfsdf', value='sad')
						span.sad XXL
					h3.h3.mt-3 SIZE
					label.checkbox-styled
						input(type='radio', name='hello', value='happy', checked='')
						span XL
					label.checkbox-styled
						input(type='radio', name='hello', value='sad')
						span.sad XXXL

					h3.h3.mt-3 UNIT
					table.table.table-bordered
						tbody
							tr
								td kljkl
								td.text-bold kljkl
							tr
								td kljkl
								td.text-bold kljkl
							tr
								td kljkl
								td.text-bold kljkl

				.col-md-8.order-md-1.slider-img
					article.slider-for
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")
						.item
							img(src="./img/product/pro.png", alt="")

					article.slider-control
						.slider-nav
							.item
								img(src="./img/product/s-01.png", alt="")
							.item
								img(src="./img/product/s-02.png", alt="")
							.item
								img(src="./img/product/s-01.png", alt="")
							.item
								img(src="./img/product/s-02.png", alt="")
							.item
								img(src="./img/product/s-01.png", alt="")
							.item
								img(src="./img/product/s-02.png", alt="")
							.item
								img(src="./img/product/s-01.png", alt="")
						button.btn.top-arrow
							i.fa.fa-chevron-left
						button.btn.bottom-arrow
							i.fa.fa-chevron-right
