extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "lien-he"
	- var description = "Description for lien-he page"
	- var bodyclass = "lien-he"
	- var href = "/lien-he.html"
block body
	include ../../../CANHCAM-LIB/form/f-1/index.pug
	include ../../../CANHCAM-LIB/form/f-1/index.pug
	include ../../../CANHCAM-LIB/form/f-1/index.pug
	include ../../../CANHCAM-LIB/form/f-1/index.pug
