extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "trang-chu"
	- var description = "Description for trang-chu page"
	- var bodyclass = "trang-chu"
	- var href = "/trang-chu.html"
block header
	include ../../../CANHCAM-LIB/header/h-1/index.pug
