extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "ve-chung-toi"
	- var description = "Description for ve-chung-toi page"
	- var bodyclass = "ve-chung-toi"
	- var href = "/ve-chung-toi.html"
block header
	include ../../../CANHCAM-LIB/header/h-1/index.pug
block body
	include ../../../CANHCAM-LIB/carousel/c-1/index.pug
