section.canhcam-accordion-1
	article.list-accordion
		.container
			.row.info
				.col-9
					.c-accordion
						.c-accordion__item
							h3
								span.fa.fa-question-circle
								| Calpis Mini bán tại Việt Nam hiện có bao nhiêu vị và địa chỉ bán các sản phẩm của Calpis Mini?
							.c-accordion__list
								p
									| Hiện tại Calpis mini tại Việt Nam có 4 vị chính: Vị dâu, Vị tự nhiên, Vị nho, và vị cam. Các sản phẩm của Calpis Mini hiện được phân phối tại các cửa hàng, đại lý và siêu thị bán lẻ trên toàn quốc . Bạn có thể tham khảo thêm các địa chỉ bán sản phẩm của Calpis tại calpisvietnam.com/cua-hang.html.
						.c-accordion__item
							h3.show
								span.fa.fa-question-circle
								| Calpis Mini bán tại Việt Nam hiện có bao nhiêu vị và địa chỉ bán các sản phẩm của Calpis Mini?
							.c-accordion__list
								p
									| Hiện tại Calpis mini tại Việt Nam có 4 vị chính: Vị dâu, Vị tự nhiên, Vị nho, và vị cam. Các sản phẩm của Calpis Mini hiện được phân phối tại các cửa hàng, đại lý và siêu thị bán lẻ trên toàn quốc . Bạn có thể tham khảo thêm các địa chỉ bán sản phẩm của Calpis tại calpisvietnam.com/cua-hang.html.
						.c-accordion__item
							h3.show
								span.fa.fa-question-circle
								| Calpis Mini bán tại Việt Nam hiện có bao nhiêu vị và địa chỉ bán các sản phẩm của Calpis Mini?
							.c-accordion__list
								p
									| Hiện tại Calpis mini tại Việt Nam có 4 vị chính: Vị dâu, Vị tự nhiên, Vị nho, và vị cam. Các sản phẩm của Calpis Mini hiện được phân phối tại các cửa hàng, đại lý và siêu thị bán lẻ trên toàn quốc . Bạn có thể tham khảo thêm các địa chỉ bán sản phẩm của Calpis tại calpisvietnam.com/cua-hang.html.