section.canhcam-slider-5
	.list-thumb
		a.item(bg-img="./img/news/img-07.jpg", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/img-07.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
		a.item(bg-img="./img/news/img-07.jpg", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/img-07.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
		a.item(bg-img="./img/news/img-07.jpg", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/news/img-07.jpg",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
