section.canhcam-slider-5
	.list-thumb
		a.item(bg-img="./img/ac/d-14.png", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/ac/d-14.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
		a.item(bg-img="./img/ac/d-12.png", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/ac/d-12.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
		a.item(bg-img="./img/ac/d-14.png", href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/ac/d-14.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
			.zoom-item
				.mdi.mdi-play-circle-outline
