section.canhcam-slider-7
	.container
		.row
			.col
				.content
					.slide.owl-carousel.owl-theme
						.item
							img(src="./img/slider/slider-1.png", alt="")
						.item
							img(src="./img/slider/slider-1.png", alt="")
						.item
							img(src="./img/slider/slider-1.png", alt="")
						.item
							img(src="./img/slider/slider-1.png", alt="")