section.canhcam-tabs-2
	.container
		.row
			.col
				ul#ccTabs.nav.nav-tabs(role="tablist")
					li.nav-item
						a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Home
					li.nav-item
						a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Profile
					li.nav-item
						a#cct-03-tab.nav-link(data-toggle="tab" href="#cct-03" role="tab" aria-controls="cct-03" aria-selected="false") Contact
				#ccTabsContent.tab-content
					#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab") Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nulla, recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.
					#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab") Eveniet nulla, recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.
					#cct-03.tab-pane.fade(role="tabpanel" aria-labelledby="cct-03-tab") Recusandae modi consequuntur voluptas voluptatibus dolore sed repellat illo eos quos rem. Earum amet fugit quidem nostrum qui voluptatibus quae.
