section.canhcam-news-2
	article.news-hot
		.container
			.row
				.col-lg-7.top-list
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/designer.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
				.col-lg-5.part-list
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/landing-4.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/landing-2.jpg", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
	article.news-list
		.container
			.row.d-none.d-md-block
				.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
					.btn-group
						button#list.btn.btn-outline-primary(type="button")
							i.fa.fa-th-list
							| List
						button#grid.btn.btn-outline-primary.active(type="button")
							i.fa.fa-th
							| Grid

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature10.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature11.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature8.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/feature9.png", alt="alt")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
