section.canhcam-carousel-1(bg-img="./img/bg/bg.png")
	.container
		.row
			.col.text-center
				h2.h2.mb-5 Lorem
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./img/clients/01.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/02.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/03.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/04.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/05.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/06.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/07.png', alt='')
