section.canhcam-carousel-1.container
	.row
		.col
			.owl-carousel.owl-theme
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/01.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/02.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/03.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/04.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/05.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/06.png', alt='')
				.item
					a(href='#', target='_blank')
						img.gray_to_def(src='/img/clients/07.png', alt='')
