section.canhcam-tagline-7
	.container
		.row
			.col
				h1.h1 Title page
				p.lead Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda mollitia placeat veniam saepe, voluptate officiis modi corporis molestiae
