@import ../_includes
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700i,800i,900i')
// +font-face('CenturyGothic', "../fonts/", "CenturyGothic")

html, body
	font-family: 'Montserrat', sans-serif
	font-size: 14px
	font-weight: 500
	height: 100%
	width: 100%
	+selection
		background-color: color-get($mau,main)
		color: #fff

h1, h2, h3, h4, h5, h6
	font-size: initial

a
	color: color-get($mau,main)
	&:hover
		color: color-get($mau,extra)
	&:visited, &:active
		color: color-get($mau,main)

[ripple]
	z-index: 1
	position: relative
	overflow: hidden
	.ripple
		position: absolute
		background: $white
		width: 12px
		height: 12px
		border-radius: 100%
		animation: ripple 1.6s

@keyframes ripple
	0%
		transform: scale(1)
		opacity: 0.2

	100%
		transform: scale(40)
		opacity: 0

header
	width: 100%
	z-index: 999
	+transition(all .5s ease-in-out)
	&.has-tranparent
		background: none
	&.fixedheader
		+pos(fix, 0 null null 0)

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle
	&:focus
		+box-sha(0 0 0 0.2rem rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.25))
		background: color-get($mau,main)
		border-color: color-get($mau,main)
.btn, .form-control
	&:focus
		+box-sha(0 0 0 0.2rem rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.25))
		border-color: color-get($mau,main)

.btn
	&.btn-link
		color: color-get($mau,main)
	&.btn-primary
		background: color-get($mau,main)
		border-color: color-get($mau,main)
		color: color-get($mau,trang)
	&.btn-outline-primary
		border-color: color-get($mau,main)
		color: color-get($mau,main)
		&:not(:disabled):not(.disabled)
			&.active, &:hover
				background: color-get($mau,main)
				border-color: color-get($mau,main)
				color: color-get($mau,trang)
			&:focus
				+box-sha(0 0 0 0.2rem rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.25))

.pagination
	.page-item
		.page-link
			&:focus
				+box-sha(0 0 0 0.2rem rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.25))
		&.active
			.page-link
				background: color-get($mau,main)
				border-color: color-get($mau,main)
				color: color-get($mau,trang)
.dropdown-item.active, .dropdown-item:active
	background: color-get($mau,main)

.select2
	&.select2-container
		.select2-selection
			height: initial
			display: block
			width: 100%
			padding: 0.375rem 0.75rem
			font-size: 1rem
			line-height: 1.5
			color: #495057
			background-color: #fff
			background-clip: padding-box
			border: 1px solid #ced4da
			border-radius: 0.25rem
			-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
			transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
			outline: none

			.select2-selection__rendered
				padding: 0
				line-height: 1.5
				height: initial
			.select2-selection__arrow
				height: calc(1.5rem + 0.375rem + 0.375rem - 2px)
				line-height: 1.5
	&.select2-container--open
		.select2-selection
			+box-sha(0 0 0 0.2rem rgba(red(color-get($mau,main)),green(color-get($mau,main)),blue(color-get($mau,main)),.25))
			border-color: color-get($mau,main)
.select2-container--default
	.select2-search--dropdown
		.select2-search__field
			border-color: color-get($mau,main)
			outline: none

	.select2-results__option--highlighted[aria-selected]
		background-color: color-get($mau,main)

.datepicker table tr td.active,
.datepicker table tr td span.active
	&:hover, &.disabled:hover, &:active, &:hover:active
		background: color-get($mau,main)
	&.disabled
		&:active, &:hover:active
			background: color-get($mau,main)
	&.active, &:hover.active
		background: color-get($mau,main)
	&.disabled
		&.active, &:hover.active
			background: color-get($mau,main)
		background: color-get($mau,main)
	&:hover.disabled
		background: color-get($mau,main)
	&.disabled
		&.disabled, &:hover.disabled
			background: color-get($mau,main)
	&[disabled], &:hover[disabled]
		background: color-get($mau,main)
	&.disabled
		&[disabled], &:hover[disabled]
			background: color-get($mau,main)

.form-check
	display: flex
	align-items: center
	input
		display: none
	label
		&:before, &:after
			font-family: 'Font Awesome 5 Free' !important
			font-weight: 900 !important
	input[type="checkbox"]:checked + label::before,
	input[type="radio"]:checked + label::before
		background: color-get($mau,main)
		border-color: color-get($mau,main)
	input[type="checkbox"]:checked + label::after,
	input[type="radio"]:checked + label::after
		color: color-get($mau,trang)
	input[type="checkbox"]:checked + label,
	input[type="radio"]:checked + label
		color: color-get($mau,main)
	input[type="checkbox"]:indeterminate + label::after,
	input[type="radio"]:indeterminate + label::after
		background: none

.k-responsive-menu.k-menu-horizontal.k-active-mobile .dropdown-menu, 
[k-responsive-menu].k-menu-horizontal.k-active-mobile .dropdown-menu
	&.dropdown-arrow
		position: relative !important

.dropdown
	.dropdown-menu
		&.dropdown-arrow
			+bor-rad(0)
			&:before, &:after
				content: ''
				display: block
				width: 0
				height: 0
				border: solid transparent
			&:before
				border-bottom-color: darken(color-get($mau,trang),20%)
				border-width: 10px
				margin-left: -10px
				+pos(abs, -20px null null 1.2rem)
			&:after
				border-bottom-color: color-get($mau,trang)
				border-width: 10px
				margin-left: -10px
				+pos(abs, -19px null null 1.2rem)
			&.dropdown-menu-right
				&:before
					+pos(abs, -20px 1.2rem null initial)
				&:after
					+pos(abs, -19px 1.2rem null initial)


