section.canhcam-boxes-15
	article.cc-box
		.item(bg-img-responsive="./img/slider/slider-1.png", bg-img-responsive-sm="./img/slider/slider-1-sm.png", bg-img-responsive-xs="./img/slider/slider-1-xs.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
