section.canhcam-boxes-15
	.container
		.row
			ul.timeline
				li.timeline-item
					.timeline-info
						span 2018
					.timeline-marker
					.timeline-content
						h3.timeline-title Lorem, ipsum dolor sit
							cite.small.text-muted CEO

						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
				li.timeline-item
					.timeline-info
						span 2018
					.timeline-marker
					.timeline-content
						h3.timeline-title Freelancer
							cite.small.text-muted CEO/PM/Leader

						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
				li.timeline-item
					.timeline-info
						span 2018
					.timeline-marker
					.timeline-content
						h3.timeline-title Lorem, ipsum dolor sit
							cite.small.text-muted CEO

						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, obcaecati animi recusandae praesentium autem dolores doloribus maiores doloremque nemo in, laudantium incidunt cupiditate eveniet nesciunt magni, maxime quidem aperiam nam!
				li.timeline-item
					.timeline-info
						span 2017 - 2018
					.timeline-marker
					.timeline-content
						h3.timeline-title Lorem, ipsum dolor sit
							cite.small.text-muted Teacher
