section.canhcam-boxes-8
	.container
		.row.mb-2.box-info.no-gutters
			.col-md.order-md-2(bg-img="./img/user/avatar-large-1.png")
				img(src="./img/user/avatar-large-1.png", alt="")
			.col-md.order-md-1 
				.text 
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?