<!DOCTYPE html>
<!--
/////////////////////////////////////////////////////////////////////////

 $$$$$$\   $$$$$$\  $$\   $$\ $$\   $$\  $$$$$$\   $$$$$$\  $$\      $$\
$$  __$$\ $$  __$$\ $$$\  $$ |$$ |  $$ |$$  __$$\ $$  __$$\ $$$\    $$$ |
$$ /  \__|$$ /  $$ |$$$$\ $$ |$$ |  $$ |$$ /  \__|$$ /  $$ |$$$$\  $$$$ |
$$ |      $$$$$$$$ |$$ $$\$$ |$$$$$$$$ |$$ |      $$$$$$$$ |$$\$$\$$ $$ |
$$ |      $$  __$$ |$$ \$$$$ |$$  __$$ |$$ |      $$  __$$ |$$ \$$$  $$ |
$$ |  $$\ $$ |  $$ |$$ |\$$$ |$$ |  $$ |$$ |  $$\ $$ |  $$ |$$ |\$  /$$ |
\$$$$$$  |$$ |  $$ |$$ | \$$ |$$ |  $$ |\$$$$$$  |$$ |  $$ |$$ | \_/ $$ |
 \______/ \__|  \__|\__|  \__|\__|  \__| \______/ \__|  \__|\__|     \__|

Canh Cam - the best Web Solutions Provider - http://www.canhcam.vn
156 Nguyen Van Thu, District 1, Ho Chi Minh City, Viet Nam.
Phone: (+84) 8 38238364 – Fax: (+84) 8 38238365 - Email: info@canhcam.vn
Facebook: https://fb.com/canhcam.vn

/////////////////////////////////////////////////////////////////////////
-->
<html class="no-js" dir="ltr" lang="en" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no"><!-- ////////////// Mobile title color ////////////// -->
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <title> - DEMO SITE</title><!-- ////////////// CSS Include ////////////// -->
    <!-- inject:css -->
    <link rel="stylesheet" href="./css/core.css">
    <link rel="stylesheet" href="./css/plugins.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/maindev.css">
    <!-- endinject --><!-- ////////////// FAVICON ////////////// -->
  </head>
  <body class="canhcam-develop canhcam-undefined-page" id="top-page"><!-- ////////////// Header ////////////// --><!-- ////////////// End Header ////////////// -->
<!-- ////////////// Begin Main ////////////// -->
    <main>
      <section class="canhcam-shop-2">
        <article class="shop-category">
          <div class="container title">
            <div class="row">
              <div class="col">
                <h2 class="h2">Lorem</h2>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sequi modi impedit laboriosam esse voluptatibus, repellat laudantium omnis magnam hic reiciendis similique laborum tempore eos soluta natus facilis explicabo expedita?</p>
              </div>
            </div>
          </div>
        </article>
        <article class="product-lists">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-lg-3">
                <div class="boxmenu">
                  <ul class="list-group" data-select>
                    <li class="list-group-item"><a class="list-group-item-action active" href="#"><i class="mdi mdi-headphones"></i>Cras justo odio</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#"><i class="mdi mdi-cellphone-android"></i>Cras justo odio</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#"><i class="mdi mdi-laptop-chromebook"></i>Cras justo odio</a></li>
                    <li class="list-group-item"><a class="list-group-item-action" href="#"><i class="mdi mdi-tshirt-crew"></i>Cras justo odio</a></li>
                    <li class="list-group-item"><a class="list-group-item-action disabled" href="#"><i class="mdi mdi-soccer"></i>Cras justo odio</a></li>
                  </ul>
                </div>
                <div class="boxprice">
                  <div class="title d-flex d-md-none justify-content-between align-items-center">
                    <h3>Filter Search</h3>
                    <button class="collapsed btn btn-sm" data-toggle="collapse" data-target="#filterSearch" role="button" aria-expanded="false" aria-controls="filterSearch"><i class="fa fa-search"></i></button>
                  </div>
                  <form id="filterSearch">
                    <h4>Brands</h4>
                    <div class="form-check abc-checkbox">
                      <input class="form-check-input" name="IsChecked" id="checkbox" type="checkbox" value="true">
                      <label class="form-check-label" for="checkbox">I agree</label>
                    </div>
                    <div class="form-check abc-checkbox">
                      <input class="form-check-input" name="IsChecked1" id="checkbox1" type="checkbox" value="true">
                      <label class="form-check-label" for="checkbox1">I agree</label>
                    </div>
                    <div class="form-check abc-checkbox">
                      <input class="form-check-input" name="IsChecked2" id="checkbox2" type="checkbox" value="true">
                      <label class="form-check-label" for="checkbox2">I agree</label>
                    </div>
                    <div class="form-check abc-checkbox">
                      <input class="form-check-input" name="IsChecked3" id="checkbox3" type="checkbox" value="true">
                      <label class="form-check-label" for="checkbox3">I agree</label>
                    </div>
                    <hr>
                    <h4>Countries</h4>
                    <select class="custom-select my-1 mr-sm-2" id="selectcountries" data-no="Không tìm thấy kếy quả nào">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <hr>
                    <h4>Kind</h4>
                    <div class="form-check abc-checkbox abc-checkbox-circle">
                      <input class="form-check-input" name="IsChecked" id="radio" type="radio" value="true">
                      <label class="form-check-label" for="radio">I agree</label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-circle">
                      <input class="form-check-input" name="IsChecked" id="radio1" type="radio" value="true">
                      <label class="form-check-label" for="radio1">I agree</label>
                    </div>
                    <hr>
                    <h4>Size</h4>
                    <label class="checkbox-styled">
                      <input type="checkbox" name="hello" value="happy"><span>S</span>
                    </label>
                    <label class="checkbox-styled">
                      <input type="checkbox" name="hello2" value="happy"><span>M</span>
                    </label>
                    <label class="checkbox-styled">
                      <input type="checkbox" name="hello3" value="happy"><span>L</span>
                    </label>
                    <label class="checkbox-styled">
                      <input type="checkbox" name="hello4" value="happy"><span>XL</span>
                    </label>
                    <label class="checkbox-styled">
                      <input type="checkbox" name="hello5" value="sad"><span class="sad">XXXL</span>
                    </label>
                    <hr>
                    <h4>Price<span class="float-right" id="geVal"></span></h4>
                    <div class="pl-2">
                      <input id="price" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[0,1000]">
                    </div>
                    <hr>
                    <div class="mt-2">
                      <button class="btn btn-primary">Apply filter</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-8 col-lg-9">
                <div class="row filter no-gutters justify-content-between">
                  <div class="col-12 col-md-auto mt-3 mt-md-0 d-flex align-items-center justify-content-between">
                    <ul class="nav align-items-center">
                      <li class="nav-item">
                        <div class="nav-link"><strong>Lọc theo</strong></div>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="#">Khuyến mãi</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Bán chạy</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Giá thấp</a></li>
                      <li class="nav-item">
                        <select class="form-control form-control-sm">
                          <option selected>Choose...</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-lg-3 d-flex align-items-center justify-content-end">
                    <form class="form-inline my-2 my-lg-0 search w-100">
                      <div class="input-group input-group-sm w-100">
                        <input class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-default searchbtn" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="boxproducts">
                      <div class="row no-gutters">
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/01.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve - FR569 02/2016 POLO COTTON 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <div class="circle"><span class="circle-hot">HOT</span></div>
                            <div class="bagde"><span class="bagde-success">Sale 30%</span></div>
                            <figure><img src="./img/product/02.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/03.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>R569 02/2016 POLO COTTON 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/04.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women sN 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/01.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve - FR569 SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/02.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve - FR569 02/2016 POLO COTTON 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/03.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve - FR569 02/2016 POLO COTTON 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                        <div class="col-sm-6 col-lg-4 item"><a class="item-detail" href="#">
                            <figure><img src="./img/product/04.jpg" alt="">
                              <div class="addtocart btn btn-lg"><i class="fa fa-cart-plus"></i>Add to Cart</div>
                              <figcaption>
                                <h2>Polo cotton 200 gr/ M2 women short sleeve - FR569 02/2016 POLO COTTON 200 GR / M2 WOMEN SHORT SLEEVE</h2>
                                <div class="all-price"><span class="price">16.990.000 ₫</span><span> -</span><span class="price-out">17.990.000 ₫</span></div>
                              </figcaption>
                            </figure></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pagelist">
                  <div class="col d-flex align-items-center justify-content-center justify-content-md-end">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#" title="title"><i class="fa fa-chevron-left"></i></a></li>
                      <li class="page-item"><a class="page-link" href="#" title="title">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#" title="title">2</a></li>
                      <li class="page-item"><a class="page-link" href="#" title="title">3</a></li>
                      <li class="page-item"><a class="page-link" href="#" title="title">4</a></li>
                      <li class="page-item"><a class="page-link" href="#" title="title"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </main><!-- ////////////// End Main ////////////// -->
<!-- ////////////// Footer ////////////// --><!-- ////////////// End Footer ////////////// -->
<!-- ////////////// Back to Top ////////////// --><a href="#top-page" id="back-to-top" title="Back to top"><span>TOP</span><i class="fa fa-angle-up"></i></a><!-- ////////////// Javascript Include ////////////// -->
    <!-- inject:js -->
    <script src="./js/core.js"></script>
    <script src="./js/plugins.js"></script>
    <script src="./js/app.js"></script>
    <!-- endinject --><!-- ////////////// Google Analytics ////////////// -->
  </body>
</html>