section.canhcam-slider-1
	article.owl-carousel.owl-theme.list-items
		.item(bg-img-responsive="./img/slider/slider-1.png", bg-img-responsive-sm="./img/slider/slider-1-sm.png", bg-img-responsive-xs="./img/slider/slider-1-xs.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
		.item(bg-img="./img/slider/slider-2.png")
			.title
				h1.h1 Main title
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste
				p
					a.btn.btn-primary.btn-lg(href="#") Read more
