section.canhcam-breadcrumb-2
	.container
		.row
			.col
				ul.bullets
					li.bullet-wrapper.active
						span.bullet Begin
					li.bullet-wrapper.active
						span.bullet Add to cart
					li.bullet-wrapper.active
						span.bullet Checkout
					li.bullet-wrapper
						span.bullet Confirm
					li.bullet-wrapper
						span.bullet Finish

