section.canhcam-boxes-14
	.container
		.row.item
			.col-lg-12.text-lg-right
				img.img-fluid(src="./img/bg/sub-2.jpg", alt="")
			.col-lg-6.info
				.box
					h2.totto-title.title-black Giới thiệu
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vel laborum, dolorum dicta soluta repellendus minus perferendis excepturi obcaecati porro facere, voluptatem ipsum eum a dolores voluptatibus at natus mollitia!
					p.ar
						a(href="#", title="title")
							span.mr-2 Xem chi tiết
							i.lnr.lnr-arrow-right
