section.canhcam-map-1.container
	.row
		.col
			#ccmaps
				.Lat 10.359352
				.Lng 106.673089
				.MarginLat -0.0050
				.MarginLng 0
				.imgMap /img/logo.png
				address 211A Ngô Tùng Châu, Gò Công, Tiền Giang, Việt Nam
				.infoWindow
					h3 Bảo Nguyên
					p
						strong Tại Tiền Giang :
						br
						|  211A Ngô Tùng Châu, KP.3, P.1, Gò Công
						br
						|  Email: info@baonguyenyam.com
						br
						|  Tel :
						a(href='tel:+840000000', onclick="_gaq.push(['_trackEvent', 'Mobile', 'Click to Call'])") 0.96.96.89.89.3
				.mapType ROADMAP
				.mapCenter true
				.Title Hello
				.infoWidth 200
				.ms black
				.mapZoom 15
				.scrollwheel false
				.disableDoubleClickZoom true
				.fullscreenControl true
				.disableOpenURL false
				.OpenURL View full map
				.draggable false
				.disableDefaultUI false

block js
	script(src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&key=AIzaSyC4TPIe70ez19mrYgRtgj0oTcjxHxiJObY")
