section.canhcam-services-9
	.container
		.row.no-gutters.mb-4
			.col-lg 
				figure
					img(src="./img/ac/info-detail-1.png", alt="alt").img-fluid
			.col-lg-5
				.text 
					h3.h3 Nội thất
					p.lead Đến với An Cư, khách hàng sẽ được trãi nghiệm những hệ thống nội thất hiện đại và đẹp mắt nhất. Không những thế mà còn đem đến cho khách hàng những khoảng không gian sống tiện nghi và thoải mái nhất thông qua các hoạt động như thiết kế và lắp đặt trang trí nội thất chuyên nghiệp. Ngoài ra, An Cư còn có đội ngũ sản xuất và mua bán nội thất công trình, đảm bảo về mặt chất lượng và tính thẩm mỹ cho bất cứ không gia sống và làm việc nào của khách hàng.
					p.mb-0 
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right 
		.row.no-gutters.mb-4
			.col-lg.order-lg-2
				figure
					img(src="./img/ac/info-detail-2.png", alt="alt").img-fluid
			.col-lg-5.order-lg-1
				.text-odd
					h3.h3 Nội thất
					p.lead Đến với An Cư, khách hàng sẽ được trãi nghiệm những hệ thống nội thất hiện đại và đẹp mắt nhất. Không những thế mà còn đem đến cho khách hàng những khoảng không gian sống tiện nghi và thoải mái nhất thông qua các hoạt động như thiết kế và lắp đặt trang trí nội thất chuyên nghiệp. Ngoài ra, An Cư còn có đội ngũ sản xuất và mua bán nội thất công trình, đảm bảo về mặt chất lượng và tính thẩm mỹ cho bất cứ không gia sống và làm việc nào của khách hàng.
					p.mb-0 
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right 
		.row.no-gutters.mb-4
			.col-lg 
				figure
					img(src="./img/ac/info-detail-3.png", alt="alt").img-fluid
			.col-lg-5
				.text 
					h3.h3 Nội thất
					p.lead Đến với An Cư, khách hàng sẽ được trãi nghiệm những hệ thống nội thất hiện đại và đẹp mắt nhất. Không những thế mà còn đem đến cho khách hàng những khoảng không gian sống tiện nghi và thoải mái nhất thông qua các hoạt động như thiết kế và lắp đặt trang trí nội thất chuyên nghiệp. Ngoài ra, An Cư còn có đội ngũ sản xuất và mua bán nội thất công trình, đảm bảo về mặt chất lượng và tính thẩm mỹ cho bất cứ không gia sống và làm việc nào của khách hàng.
					p.mb-0 
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right 
		.row.no-gutters.mb-4
			.col-lg.order-lg-2
				figure
					img(src="./img/ac/info-detail-4.png", alt="alt").img-fluid
			.col-lg-5.order-lg-1
				.text-odd
					h3.h3 Nội thất
					p.lead Đến với An Cư, khách hàng sẽ được trãi nghiệm những hệ thống nội thất hiện đại và đẹp mắt nhất. Không những thế mà còn đem đến cho khách hàng những khoảng không gian sống tiện nghi và thoải mái nhất thông qua các hoạt động như thiết kế và lắp đặt trang trí nội thất chuyên nghiệp. Ngoài ra, An Cư còn có đội ngũ sản xuất và mua bán nội thất công trình, đảm bảo về mặt chất lượng và tính thẩm mỹ cho bất cứ không gia sống và làm việc nào của khách hàng.
					p.mb-0 
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right