extends ../../../core/templates/_layout/layout.pug
block variables
	- var title = "vechungtoi"
	- var description = "Description for vechungtoi page"
	- var bodyclass = "vechungtoi"
	- var href = "/vechungtoi.html"
block footer
	include ../../../CANHCAM-LIB/map/m-1/index.pug
	include ../../../CANHCAM-LIB/footer/f-1/index.pug
