
//
	/////////////////////////////////////////////////////////////////////////

	 $$$$$$\   $$$$$$\  $$\   $$\ $$\   $$\  $$$$$$\   $$$$$$\  $$\      $$\
	$$  __$$\ $$  __$$\ $$$\  $$ |$$ |  $$ |$$  __$$\ $$  __$$\ $$$\    $$$ |
	$$ /  \__|$$ /  $$ |$$$$\ $$ |$$ |  $$ |$$ /  \__|$$ /  $$ |$$$$\  $$$$ |
	$$ |      $$$$$$$$ |$$ $$\$$ |$$$$$$$$ |$$ |      $$$$$$$$ |$$\$$\$$ $$ |
	$$ |      $$  __$$ |$$ \$$$$ |$$  __$$ |$$ |      $$  __$$ |$$ \$$$  $$ |
	$$ |  $$\ $$ |  $$ |$$ |\$$$ |$$ |  $$ |$$ |  $$\ $$ |  $$ |$$ |\$  /$$ |
	\$$$$$$  |$$ |  $$ |$$ | \$$ |$$ |  $$ |\$$$$$$  |$$ |  $$ |$$ | \_/ $$ |
	 \______/ \__|  \__|\__|  \__|\__|  \__| \______/ \__|  \__|\__|     \__|

	Canh Cam - the best Web Solutions Provider - http://www.canhcam.vn
	156 Nguyen Van Thu, District 1, Ho Chi Minh City, Viet Nam.
	Phone: (+84) 8 38238364 – Fax: (+84) 8 38238365 - Email: info@canhcam.vn
	Facebook: https://fb.com/canhcam.vn

	/////////////////////////////////////////////////////////////////////////
