section.canhcam-carousel-7
	.row.no-gutters
		.col
			article.news-list.align-items-stretch
				.name
					h2.text-center.text-lg-left Lĩnh vực 
						span hoạt động 
				.owl-carousel
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								h3 Nội thất
								i.mdi.mdi-arrow-right
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								h3 Thiết kế
								i.mdi.mdi-arrow-right
					a.item(href="#")
						figure
							img.img-fluid(src="./img/news/img-01.png", alt="alt")
							figcaption
								h3 Xây dựng
								i.mdi.mdi-arrow-right 
